*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins','Roboto';
}
header{
    display: flex;
    background:#f2f3fa;
    position: relative;
    width: 100%;
}
.header-nav{
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    width: 100%;
    padding:1.5rem 0;
    align-items: baseline;
}
.header-nav ul{
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between !important;
    list-style: none;
    width: 50%;
}
.header-nav .list-items{
    position: relative;
    cursor: pointer;
}
.header-nav .list-items::after{
    content:'';
    position: absolute;
    width: 100%;
    display: block;
    height: 30px;
    background:transparent;
}
.header-nav ul li .list-items-name{
    font-size: 16px;
    text-transform: capitalize;
    margin-right: 5px;
    color: rgb(23,19,71);
    transition: all .3s;
}
.header-nav ul li i{
    font-size: 12px ;
    transition: 0.3s;
}
.hide-items{
    flex-direction: column;
    position: absolute;
    list-style: none;
    margin: 0;
    width: 170px !important;
    top: calc(100% + 30px);
        
    padding: 10px 0 !important;
    border-top: 3px solid #008aff;
    animation: hideIn1 .5s forwards;
    display: none !important;
    z-index: 2;
    background: #fff;
}
.hide-items-dropdown{
    padding: 10px 0 10px 15px;
    color: rgb(113,128,150);
    text-transform: capitalize;
    font-size: 14px;
}
.hide-items-dropdown-name-text{
    font-size: 16px;
    text-transform: capitalize;
    margin-right: 5px;
    transition: all .3s;
}
.header-nav ul .list-items:hover .list-items-name, .header-nav ul .list-items:hover > i{
    color:#008aff;
}
.header-nav ul .list-items:hover .hide-items{
    display: block !important;
}
.hide-items-dropdown:hover{
    color: #008aff;;
}
.nav-button{
    margin-left: 2rem;
    border:none;
    background: rgb(255,190,61);
    border:2px solid rgb(255,190,61);
    border-radius: 8px;
    padding:3px 12px;
    color:#fff;
    font-weight: 450;
    transition: 0.5s ease-out;
}
.nav-button:hover{
    background:#fff;
    color:rgb(255,190,61);
}
.hide-items-full{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 83.5px;
    border-top: 3px solid #008aff;
    left: 0;
    padding: 10px 0;
    animation: hideIn1 .5s forwards;
    background:#fff;
    display: none;
}
.hide-items-title{
    font-size: 18px;
    font-weight: 500;
    padding:12px 0 8px 0;
}
.hide-items-list-full{
    flex-direction: column;
    color: rgb(113,128,150);
    margin:0;
    padding:0;
}
.hide-items-list-full-items{
    position: relative;
    padding: 4px 0;
}
.hide-items-list-full-items i{
    margin-right: 6px;
    font-size: 16px !important;
}
.header-nav ul .list-items:hover .hide-items-full{
    display: block;
}
.hide-items-list-full-items:hover{
    color:#008aff;
}
.header-introduction{
    margin-top: 3rem;
}
.header-introduction-describtion{
    font-size: 16px;
    display: inline-block;
    color:#fff;
    font-weight: 700;
    background: rgb(23,19,71);
    border-radius: 1rem;
    padding: 3px 10px;
    margin:1.5rem 0;
}
.header-introduction-title{
    color:rgb(23,19,71);
    font-weight: 700;
    padding: 10px 0;
    font-size: 3rem;
}
.header-introduction-content{
    color:rgba(113,128,150,0.8);
    font-weight: 500;
    padding:15px 0;
    margin:0;
}
.header-introduction-button{
    color:#fff;
    background:rgb(23,19,71);
    border-radius: 10px;
    padding:15px 25px;
    font-weight: 600;
    outline:none;
    border:none;
    box-shadow:0 1px 2px 2px rgba(0,0,0,0.5);
}
.header-introduction-image-title{
    width: 100%;
}