*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins','Roboto';
}
header{
    display: flex;
    background:#f2f3fa;
    position: relative;
    width: 100%;
}
.header-nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    padding: 20px 60px;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 24px 0px;
    width: 100%;
    z-index: 100;
}
.header-nav ul{
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between !important;
    list-style: none;
    width: 50%;
}
.header-nav .list-items{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.header-nav .list-items::after{
    content:'';
    position: absolute;
    width: 100%;
    display: block;
    height: 30px;
    background:transparent;
}
.header-nav ul li .list-items-name{
    font-size: 16px;
    text-transform: capitalize;
    margin-right: 5px;
    color: rgb(23,19,71);
    transition: all .3s;
}
.header-nav ul li i{
    font-size: 12px ;
    transition: 0.3s;
}
.hide-items{
    flex-direction: column;
    position: absolute;
    list-style: none;
    margin: 0;
    width: 170px !important;
    top: calc(100% + 30px);
    padding: 10px 0 !important;
    border-top: 3px solid #008aff;
    animation: hideIn1 .5s forwards;
    display: none !important;
    z-index: 2;
    background: #fff;
}
.hide-items-dropdown{
    padding: 10px 0 10px 15px;
    color: rgb(113,128,150);
    text-transform: capitalize;
    font-size: 14px;
}
.hide-items-dropdown-name-text{
    font-size: 16px;
    text-transform: capitalize;
    margin-right: 5px;
    transition: all .3s;
}
.header-nav ul .list-items:hover .list-items-name, .header-nav ul .list-items:hover > i{
    color:#008aff;
}
.header-nav ul .list-items:hover .hide-items{
    display: block !important;
}
.hide-items-dropdown:hover{
    color: #008aff;;
}
.nav-button{
    border:none;
    background: rgb(255,190,61);
    border:2px solid rgb(255,190,61);
    border-radius: 8px;
    padding:3px 12px;
    color:#fff;
    font-weight: 450;
    transition: 0.5s ease-out;
}
.nav-button:hover{
    background:#fff;
    color:rgb(255,190,61);
}
@media screen and (max-width:572px){
    .list-items,.nav-button{
        width: 100%;
    }
}
.hide-items-full{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 83.5px;
    border-top: 3px solid #008aff;
    left: 0;
    padding: 10px 0;
    animation: hideIn1 .5s forwards;
    background:#fff;
    display: none;
}
.hide-items-title{
    font-size: 18px;
    font-weight: 500;
    padding:12px 0 8px 0;
}
.hide-items-list-full{
    flex-direction: column;
    color: rgb(113,128,150);
    margin:0;
    padding:0;
}
.hide-items-list-full-items{
    position: relative;
    padding: 4px 0;
}
.hide-items-list-full-items i{
    margin-right: 6px;
    font-size: 16px !important;
}
.header-nav ul .list-items:hover .hide-items-full{
    display: block;
}
.hide-items-list-full-items:hover{
    color:#008aff;
}
.header-introduction{
    padding-top: 4rem;
}
.header-introduction-describtion{
    font-size: 16px;
    display: inline-block;
    color:#fff;
    font-weight: 700;
    background: rgb(23,19,71);
    border-radius: 1rem;
    padding: 3px 10px;
    margin:1.5rem 0;
}
.header-introduction-title{
    color:rgb(23,19,71);
    font-weight: 700;
    padding: 10px 0;
    font-size: 3rem;
}
.header-introduction-content{
    color:rgba(113,128,150,0.8);
    font-weight: 500;
    padding:15px 0;
    margin:0;
}
.header-introduction-button{
    outline:none;
    color:#fff;
    background:rgb(23,19,71);
    border-radius: 10px;
    padding:15px 25px;
    font-weight: 600;
    border:2px solid rgb(23,19,71);
    transition:all .5s;
}
.header-introduction-button:hover{
    background:#fff;
    color:rgb(23,19,71);
}
.header-introduction-image-title{
    width: 100%;
}
.header-infor{
    margin-top: 3rem;
    padding: 2rem 0 6rem;
}
.header-infor-top{
    color:#008aff;
    font-weight: 700;
    margin:10px 0;
}
.header-infor-title{
    color:rgb(23,19,71);
    line-height: 2.5rem;
    font-weight: 700;
    font-size: 1.9rem;
}
.header-infor-content{
    color:rgb(113,128,150);
    font-weight: 500;
    margin: 1.2rem 0;
    line-height: 1.8rem;
}
.header-infor-button{
    color:#fff;
    font-weight: 700;
    outline:none;
    border:2px solid #008aff;
    border-radius: 0.5rem;
    background:#008aff;
    padding:12px 1.2rem;
    transition-duration: 0.5s;
    margin:8px 0;
}
.header-infor-button:hover{
    color:#008aff;
    background:#fff;
}
.header-infor-image{
    box-shadow:0 0 1.25rem rgba(31, 45, 61, 0.05);
    padding-top: 1.5rem;
}
.header-infor-image img{
    width: 100%;
}
.header-infor-image-title{
    font-size: 16px;
    margin:1.2rem 0;
}
.category{
    width: 100%;
    background:#f2f3fa;
    padding:3.75rem 0 5rem;
}
.category-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#fff;
    border-radius: 15px;
    padding:1.25rem 2rem;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
}
.category-item .category-icon{
    color:#008aff;
    font-size:36px; 
    padding-bottom:12px;
}
.category-item-content{
    color:rgba(0,0,0,0.9);
    font-weight: 700;
}
.category-item:hover{
    transform: translateY(-10px);
    background:#008aff;
}
.category-item:hover .category-icon,.category-item:hover .category-item-content{
    color:#fff;
}
.main-introduce{
    padding-top: 6rem;
}
.main-introduce-meaning{
    text-align: center;
}
.main-introduce-top{
    font-size: 16px;
    color: rgb(113,128,150);
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.main-introduce-title{
    margin:0 auto;
    width: 70%;
    color:rgb(23,19,71);
    font-weight: 600;
    position: relative;
}
.main-introduce-title-dec{
    font-weight: 700;
    position: relative;
    display:inline-block ;
}
.main-introduce-title-dec:after{
    content: '';
    position: absolute;
    display: block;
    width:100%;
    height: 10px;
    background:#FFE5B1;
    z-index: -1;
    bottom: 3px;
}
.main-introduce-image{
    margin-top: 1rem;
}
.main-introduce-image img{
    width: 100%;
}
.main-product{
    padding-top: 3.75rem;
    background:#f2f3fa;
}
.main-product-meaning{
    text-align: center;
    width: 50%;
    margin:0 auto;
}
.main-product-title{
    font-size:2.5rem;
    color:rgb(23,19,71);
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 1.5rem;
}
.main-product-title::after{
    content:'';
    position: absolute;
    width: 5%;
    display: block;
    height: 2px;
    background:#008aff;
    top:100%;
    left: 50%;
    transform: translateX(-50%);
}
.main-product-content{
    color:rgb(113,128,150);
    font-size: 18px;
    font-weight: 500;
    margin: 1.5rem 0 2rem 0;
}
.main-product-item{
    position: relative;
}
.member{
    width: 100%;
    cursor: pointer;
    height: 30vw;
    object-fit: cover;
}
.main-product-item-hide{
    z-index: 5;
    background: rgba(0,0,0,.8);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    color:#fff;
    padding:20px 0 0 20px;
    transition: all 0.5s;
    opacity: 0;
    width: 50%;
}
.main-product-item-hide-title{
    font-weight: 600;
    padding:5px 0;
}
.main-product-item-hide-content{
    color:rgb(113,128,150);
}
.link-more-infor{
    display: inline-block;
    text-decoration: none;
    color:#fff !important;
    font-weight: 700;
    border-bottom: 2px solid #fff;  
}
.link-more-infor:hover{
    text-decoration: none;
}
.main-product-item:hover .main-product-item-hide{
    opacity: 1;
    left:0;
    right:auto;
    width: 100%;
}
.link-more-infor:hover{
    animation: hideIn2 0.5s forwards;
}
.main-support{
    padding:6rem 0;
}
.main-support-guild{
    color:#008aff;
    font-weight: 700;
    margin:1.2rem auto;
}
.main-support-title{
    color:rgb(23,19,71);
    font-size:1.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.main-support-content{
    color:rgb(113,128,150);
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
}
.main-support-button{
    border:1px solid #008aff;
    outline:none;
    border-radius: 10px;
    padding:10px 1.5rem;
    background:#008aff;
    color:#fff;
    font-weight: 500;
    transition:all 0.5s;
}
.main-support-button:hover{
    background:#fff;
    color:#008aff;
}
.main-support-item{
    padding-top: 2rem;
}
.main-support-item-icon{
    color:#008aff;
    font-size: 3rem;
    display: inline-block;
}
.main-support-item-title{
    padding:1rem 0 1rem 0;
    font-weight: 500;
    margin:0;
}
.main-support-item-content{
    color:#7180a3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5rem;
}
.main-support-2{
    background:#F2F3FA;
}
.main-support-2-left{
    padding:4.5rem;
}
.main-support-2-left-title{
    color:rgb(23,19,71);
    font-weight: 650;
    font-size: 2.5rem;
}
.main-support-2-left-content{
    color:#7180a3;
    padding:1rem 0;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0.5rem;
}
.main-support-item-2-left-listnum{
    display: inline-block;
    color:#008aff;
    font-weight: 700;
    font-size: 2rem;
}
.main-support-item-2-left-name{
    display: inline-block;
    margin-left: 5px;
    color:black;
    font-weight: 500;
    font-size: 20px;
}
.main-support-item-2-left-content{
    color:rgb(113,128,150);
    font-weight: 500;
    font-size: 16px;
}
.main-support-2-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.statistic-happiness{
    background-image: linear-gradient(to right,#49c5b6 0%,#5766d3 100%);
    padding:6rem 2rem;
}
.main-statistic-item{
    background:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    position: relative;
    padding:15px;
    overflow:hidden;
}
.statistic-happiness-icon{
    font-size: 2.5rem;
    color:#000;
}
.statistic{
    color:#000;
    font-size: 30px;
    font-weight: 700;
}
.title-happiness{
    color:rgb(113,128,150);
    font-weight: 500;
}
.main-statistic-item span:nth-child(1){
    position: absolute;
    display:block;
    top:0;
    left:0;
    width:100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#03e9f4);
    animation: hideIn3 1s linear infinite;
    animation-delay: 0.25s;
}
.main-statistic-item span:nth-child(2){
    position: absolute;
    display:block;
    top:0;
    right:0;
    width:2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#03e9f4);
    animation: hideIn4 1s linear infinite;
    animation-delay: 0.5s;
}
.main-statistic-item span:nth-child(3){
    position: absolute;
    display:block;
    bottom:0;
    right:0;
    width:100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#03e9f4);
    animation: hideIn5 1s linear infinite;
    animation-delay: 0.75s;
}
.main-statistic-item span:nth-child(4){
    position: absolute;
    display:block;
    bottom:0;
    left:0;
    width:2px;
    height: 100%;
    background:linear-gradient(360deg,transparent,#03e9f4);
    animation: hideIn6 1s linear infinite;
    animation-delay: 0.75;
}
.main-statistic-item:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #03e9f4,0 0 40px #03e9f4,0 0 80px #03e9f4;
}
.main-introduce-item-2{
    position: relative;
    color:#fff;
    overflow: hidden;
}
.main-introduce-item-2 img{
    width: 100%;
    object-fit: cover;
}
.main-introduce-item-2-hide{ 
   position: absolute;
   bottom: 0;
   padding:3rem 0 60px 60px;
   transition:0.55s;
   height: 30%;
   left: 0;
   right: 0;
   opacity: 0;
   z-index: 12;
}
.main-introduce-item-2-hide-top{
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}
.main-introduce-item-2-hide-title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.9rem;
}
.main-introduce-item-2-hide-content{
    color:rgb(113,128,150);
    font-weight: 500;
}
.main-introduce-item-2:hover .main-introduce-item-2-hide{
    height: 100%;
    opacity: 1;
}
.main-introduce-item-2:hover::after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    background:#03e9f4;
    opacity: 0.6;
    z-index: 0;
}
.main-introduce-item-2-hide-bottom{
    padding:8px 1.2rem;
    background:transparent;
    border:2px solid #fff;
    border-radius: 10px;
    color:#fff;
    font-weight: 500;
    transition-duration: 0.5s;
}
.main-introduce-item-2-hide-bottom:hover{
    background:#fff;
    color:black;
}
.main-price{
    padding:6rem 2rem;
    text-align: center;
    background-color: #F2F3FA;
}
.main-price-title{
    display: inline-block;
    color:rgb(23,19,71);
    font-weight: 700;
    position: relative;
    padding-bottom: 2rem;
}
.main-price-title::after{
    display: block;
    content:'';
    width: 80%;
    height: 2px;
    margin:0 auto;
    position: absolute;
    top:100%;
    transform: translateX(10%);
    background:#008aff;
}
.usage{
    font-weight: 500;
    color:rgb(113,128,150);
    margin-top: 1rem;
}
.main-price-content{
    margin-bottom: 1.5rem;
}
.main-Price-product{
    font-weight: 700;
    color:rgb(23,19,71);
}
.main-product-name{
    color:#6e6e6f;
    margin:10px 0;
    font-weight: 500;
}
.main-items-list{
    margin:0;
    padding:0;
    list-style: none;
}
.main-item{
    margin-bottom: 8px;;
}
.main-item-icon-check{
    color:#008aff;
    font-size: 16px;
    margin-right: 12px;
}
.main-item span{
    color:#718096;
    font-weight: 500;
}
.main-item-button{
    margin-top: 12px;
    margin-bottom: 1.5rem;
    padding: 8px 0;
    border-radius: 10px;
    border:2px solid #008aff;
    background:#008aff;
    outline:none;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color:#fff;
    transition-duration: 0.5s;
}
.main-item-button:hover{
    background:#fff;
    color:#008aff
}
.main-staff{
    padding:6rem 2rem;
    text-align:center;
}
.main-staff-item{
    text-align: left;
}
.main-staff-image{
    position: relative;
    overflow: hidden;
}
.main-staff-image img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.8s;
}
.main-staff-item-hide{
    position: absolute;
    bottom: 10px;
    padding:1rem 12px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: all 0.5s;
    opacity: 0;
}
.main-staff-item-hide-content{
    color:rgb(23,19,71);
    font-weight: 700;
    line-height: 24px;
}
.main-staff-item-hide-icon{
    margin-top: 12px;
}
.main-staff-item-hide-icon i{
    font-size: 16px;
    width: 30px;
    margin-right: 10px;
    height: 30px;
    border-radius: 50%;
    color: #000;
    background: #fff;
    border: 1px solid #fff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
}
.main-staff-infor{
    margin-top: 15px;
}
.main-staff-name{
    color:rgb(23,19,71);
    font-weight: 700;
    margin:5px 0;
}
.main-staff-role{
    color:rgb(113,128,150);
    font-size: 14px;
    font-weight: 500;
}
.main-staff-image:hover .main-staff-item-hide{
    opacity: 1;
}
.main-staff-image:hover img{
    transform: scale(1.1,1.1);
}
.main-staff-image:hover{
    border-radius: 10px;
}
.main-staff-item-hide-icon i:hover{
    background:transparent;
    color:rgb(23,19,71);
}
.main-feedback{
    padding:6rem 2rem;
    background:#F2F3FA;
}
.main-feedback-item{
    background:#fff;
    overflow: hidden;
}
.main-feedback-item-dm{
    position: relative;
}
.main-feedback-item-date{
    float: left;
    padding:6px 15px;
    background:#008aff;
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: relative;
    margin-top: 12px;
    margin-left: 16px;
    color:#fff;
    border-radius: 10px;
}
.main-feedback-item-day{
    font-weight: 700;
    font-size: 24px;
}
.main-feedback-item-month{
    font-weight: 700;
    font-size: 16px;
}
.main-feedback-item-document{
    padding:58px 24px 24px 24px;
    line-height: 22px;
}
.main-feedback-item-document-title{
    font-size: 22px;
    color: #171347;
    font-weight: 700;
    margin-bottom: 12px;
}
.main-feedback-item-document-content{
    color: #718096;
    font-weight: 500;
}
.more-infore{
    color: #008aff;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}
.more-infore:after{
    content:'';
    position: absolute;
    width: 100%;
    height: 1px;
    left:0;
    background:#008aff;
    transition: all 0.5s;
    display: block;
}
.more-infore:hover::after{
    width: 0;
    right:0;
}
footer{
    padding: 5.5rem 2rem;
    background:#171347;
}
.conclusion{
    padding-bottom: 50px;
    border-bottom: 1px solid #555f75;
}
.logo{
    color:#fff;
    font-size: 2.6rem;
}
.footer-conclusion-title{
    font-size: 18px;
}
.footer-conclusion-lists{
    padding:0;
    margin:0;
    color:rgba(255, 255, 255, 0.5);
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer-conclusion-item{
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}
.footer-conclusion-item:after{
    content:'';
    position: absolute;
    display:block;
    bottom: 0;
    width: 0;
    right:0;
    left:auto;
    height: 1px;
    background:#fff;
    transition: all .5s;
}
.footer-conclusion-item:hover:after{
    width:100%;
    right:0;
}
.form{
    display: flex;
}
.footer-conclusion-input{
    padding:12px 18px;
    border-radius: 3px;
    border:none;
    font-size: 16px;
    width: 70%;
    font-weight: 500;
    outline:none;
}
.footer-conclusion-button{
    margin-left: 5px;
    outline:none;
    flex: 1;
    border-radius: 5px;
    color:#fff;
    font-weight: 500;
    border: 2px solid rgb(255,190,61);
    background: rgb(255,190,61);
    transition: all 0.5s;
}
.footer-conclusion-button:hover{
    color:rgb(255,190,61);
    background:#fff;
}

