* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
  line-height: 2.4rem;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  width: 100%;
  z-index: 100;
}
.header-nav .container .navbar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  top: 2rem;
}
.header-nav .container .navbar-item .logo {
  z-index: 100;
  height: auto;
}
.header-nav .container .navbar-item .logo .img-logo {
  display: block;
  width: 100%;
  max-width: 50%;
  object-fit: cover;
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .logo {
    z-index: 100;
    padding: 1rem 0 1rem 2rem;
  }
}
.header-nav .container .navbar-item .menu-list {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
  margin-bottom: 0;
}
.header-nav .container .navbar-item .menu-list__items {
  padding: 2rem 0;
  font-weight: 600;
}
.header-nav .container .navbar-item .menu-list__items:not(:last-of-type) {
  margin-right: 4rem;
}
@media screen and (max-width: 1200px) {
  .header-nav .container .navbar-item .menu-list__items:not(:last-of-type) {
    font-size: 1.4rem;
    margin-right: 1.7rem;
  }
}
.header-nav .container .navbar-item .menu-list__items:nth-last-of-type(2) {
  margin-right: 3rem;
}
@media screen and (max-width: 1200px) {
  .header-nav .container .navbar-item .menu-list__items:nth-last-of-type(2) {
    font-size: 1.4rem;
    margin-right: 1.7rem;
  }
}
.header-nav .container .navbar-item .menu-list__items:last-of-type {
  padding: 2rem 0;
}
.header-nav .container .navbar-item .menu-list__items-name {
  color: #333;
  text-decoration: none;
  position: relative;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2rem;
}
.header-nav .container .navbar-item .menu-list__items-name::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 0.3rem;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s linear;
  display: block;
}
.header-nav .container .navbar-item .menu-list__items-name::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 0;
  height: 0.3rem;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s linear;
  display: block;
}
.header-nav .container .navbar-item .menu-list__items-name:hover::after, .header-nav .container .navbar-item .menu-list__items-name:hover::before {
  width: 50%;
}
.header-nav .container .navbar-item .menu-list__items-icon {
  font-size: 1.4rem;
  margin-top: 0.3rem;
  transition: all 0.3s linear;
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .menu-list__items-icon {
    position: absolute;
    right: 2px;
  }
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-image: linear-gradient(to right, #232526, #414345);
  position: absolute;
  width: 100%;
  left: 0;
  top: 8rem;
  z-index: 2;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1), 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
  transform: scaleY(0);
  transition: all 0.2s linear;
  transform-origin: top;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list__hide:not(:last-of-type) {
  border-right: 0.5px solid #11b0ae;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list__hide:not(:first-of-type) {
  padding-left: 1.5rem;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list-hide__items-icon {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #11b0ae;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list-hide__items-content {
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #11b0ae;
  font-size: 1.7rem;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list-hide__items-content::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0.2rem;
  left: 0;
  background-color: #11b0ae;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list-hide__items-content:hover::after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list::after {
  content: "";
  top: -6.5%;
  position: absolute;
  width: 100%;
  display: block;
  height: 3rem;
  background: transparent;
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .menu-list__items .subMenu-list.activeSub {
    display: block !important;
    animation: Top_Down 0.3s linear forwards;
  }
}
.header-nav .container .navbar-item .menu-list__items .subMenu-short-list {
  background-image: linear-gradient(to right, #232526, #414345);
  position: absolute;
  width: 100%;
  left: 0;
  top: 8rem;
  z-index: 2;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1), 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
  transform: scaleY(0);
  transition: all 0.2s linear;
  transform-origin: top;
  width: 26rem !important;
  top: 6.5rem !important;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-short-list__items-icon {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #11b0ae;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-short-list__items-content {
  text-decoration: none;
  color: #11b0ae;
  font-size: 1.7rem;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-short-list::after {
  left: 0;
  content: "";
  top: -6.5%;
  position: absolute;
  width: 100%;
  display: block;
  height: 3rem;
  background: transparent;
}
.header-nav .container .navbar-item .menu-list__items:hover .subMenu-list, .header-nav .container .navbar-item .menu-list__items:hover .subMenu-short-list {
  transform: scaleY(1);
  opacity: 1;
}
.header-nav .container .navbar-item .menu-list__items .btn-item {
  outline: none;
  border: none;
  border-radius: 5rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #c630c7 0, #e83d1d 40%, #e83d1d 55%, #c630c7 100%);
  color: #fefefe;
  text-transform: capitalize;
  background-size: 200% auto;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-nav .container .navbar-item .menu-list__items .btn-item i {
  margin-left: 1rem;
}
.header-nav .container .navbar-item .menu-list__items .btn-item:hover {
  letter-spacing: 0.2rem;
  background-position: 200%;
  color: #fefefe;
}
.header-nav .container .navbar-item .menu-list__items .btn-item:hover i {
  color: #fefefe;
}
@media screen and (max-width: 1200px) {
  .header-nav .container .navbar-item .menu-list__items .btn-item {
    display: block;
    font-size: 1.4rem;
    padding: 1.5rem 3rem;
  }
  .header-nav .container .navbar-item .menu-list__items .btn-item:hover {
    letter-spacing: 0.1rem;
  }
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .menu-list__items {
    width: 100%;
    margin: 1rem 0 !important;
  }
  .header-nav .container .navbar-item .menu-list__items .subMenu-list, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list {
    margin-top: 1rem;
    display: none;
    position: relative !important;
    box-shadow: none;
    top: 0rem !important;
    opacity: 1;
    width: 100% !important;
    visibility: 1;
    border-radius: 0;
  }
  .header-nav .container .navbar-item .menu-list__items .subMenu-list.activeSub, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list.activeSub {
    display: block !important;
    animation: Top_Down 0.3s linear forwards;
  }
  .header-nav .container .navbar-item .menu-list__items .subMenu-list .subMenu-list__hide, .header-nav .container .navbar-item .menu-list__items .subMenu-list .subMenu-short-list__items, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list .subMenu-list__hide, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list .subMenu-short-list__items {
    padding: 0;
    display: block;
  }
  .header-nav .container .navbar-item .menu-list__items .subMenu-list .subMenu-list__hide, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list .subMenu-list__hide {
    border-right: none;
  }
}
@media screen and (min-width: 992px) {
  .header-nav .container .navbar-item .menu-list__items:hover .menu-list__items-icon {
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .menu-list {
    display: none;
    width: 100%;
    position: relative;
    z-index: 100;
    overflow-y: auto;
    padding: 2rem 0;
  }
  .header-nav .container .navbar-item .menu-list__items {
    position: relative !important;
    padding: 1rem 0;
  }
  .header-nav .container .navbar-item .menu-list__items-name {
    padding: 0 2rem;
  }
  .header-nav .container .navbar-item .menu-list__items:last-of-type {
    margin-top: 2rem;
  }
  .header-nav .container .navbar-item .menu-list__items .menu-list__items-icon {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    transition: all 0.3s linear;
  }
  .header-nav .container .navbar-item .menu-list__items .menu-list__items-icon.updown {
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item {
    background-color: #111;
    padding: 0;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    color: #fefefe;
    transition: all 0.3s linear;
    z-index: 100;
  }
  .header-nav .container .navbar-item .menu-list__items-name {
    color: #fefefe;
  }
}
.header-nav .container .navbar-item::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  max-height: 0;
  opacity: 0;
}
@media screen and (max-width: 991px) {
  .header-nav .container {
    max-width: 1100px !important;
    padding: 0;
  }
  .header-nav .container.nav__active .navbar-item {
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    height: 100%;
  }
  .header-nav .container.nav__active .navbar-item::after {
    max-height: 100%;
    opacity: 1;
  }
  .header-nav .container.nav__active .menu-list {
    display: block !important;
  }
}
.header-nav .container .dropdown-menu__button {
  position: absolute;
  display: none;
  align-items: center;
  z-index: 100;
  width: 6.2rem;
  height: 6.2rem;
  cursor: pointer;
  top: 0;
  right: 1rem;
}
.header-nav .container .dropdown-menu__button span.button-click {
  position: absolute;
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 3rem;
  background: #e7174d;
  transition: all 0.5s cubic-bezier(0.615, 0.25, 0.505, 1.47);
  cursor: pointer;
  right: 1.5rem;
}
.header-nav .container .dropdown-menu__button span.button-click::after, .header-nav .container .dropdown-menu__button span.button-click::before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 2rem;
  background: #e7174d;
  transition: all 0.5s cubic-bezier(0.615, 0.25, 0.505, 1.47);
  cursor: pointer;
}
.header-nav .container .dropdown-menu__button span.button-click:after {
  bottom: -1rem;
}
.header-nav .container .dropdown-menu__button span.button-click::before {
  top: -1rem;
}
.header-nav .container .dropdown-menu__button span.button-click.closeX {
  background: transparent;
}
.header-nav .container .dropdown-menu__button span.button-click.closeX::after {
  top: 0;
  transform: rotate(-45deg) scale(1.1);
}
.header-nav .container .dropdown-menu__button span.button-click.closeX::before {
  top: 0;
  transform: rotate(45deg) scale(1.1);
}
@media screen and (max-width: 991px) {
  .header-nav .container .dropdown-menu__button {
    display: flex;
  }
}
@media screen and (max-width: 991px) {
  .header-nav {
    top: 0;
  }
}

.main-box {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main-box .header-content {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.main-box .header-content .color-title {
  font-size: 5rem;
  background: linear-gradient(-45deg, #cd2ca4, #e7174d 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
}
.main-box .header-content .main__title {
  position: relative;
  font-size: 5rem;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  width: 80%;
  margin-bottom: 3rem;
}
.main-box .header-content .main__discription {
  max-width: 58rem;
  line-height: 3.2rem;
  transition: all 0.3s linear;
  font-size: 2.1rem;
  margin: 0 0 3rem;
}
.main-box .header-content .video-button {
  padding: 0.9rem 2rem 1rem 3rem;
  border: solid 3px #fa4e40;
  border-radius: 5rem;
  color: #fa4e40;
  font-size: 1.8rem;
  text-decoration: none;
  background: #fefefe;
  transition: all 0.8s ease-in-out;
}
.main-box .header-content .video-button i {
  margin-left: 1rem;
}
.main-box .header-content .video-button:hover {
  background-color: #fa4e40;
  color: #fefefe;
  border: 3px solid #fefefe;
}
@media screen and (max-height: 700px) {
  .main-box .header-content .main__discription {
    top: auto;
    left: auto;
    margin: 0 auto 30px;
    position: relative;
  }
}
.main-box .pointer {
  position: absolute;
  left: 50%;
  bottom: 7%;
  font-size: 4rem;
  transform: translateX(-50%);
  transition: all 0.3s linear;
  opacity: 1;
  visibility: visible;
}
.main-box .header-image .box__image {
  position: absolute;
  transition: all 0.5s linear;
}
.main-box .header-image .box__image:nth-child(1) {
  top: -10%;
  left: 1%;
  animation: image1 45s linear infinite;
}
.main-box .header-image .box__image:nth-child(2) {
  top: 50%;
  left: -7%;
  animation: image2 45s linear infinite;
}
.main-box .header-image .box__image:nth-child(3) {
  top: 23%;
  left: 7%;
  animation: image3 45s linear infinite;
}
.main-box .header-image .box__image:nth-child(4) {
  top: 85%;
  left: -6.5%;
  animation: image4 45s linear infinite;
}
.main-box .header-image .box__image:nth-child(5) {
  top: 59%;
  left: 14.5%;
  animation: image5 45s linear infinite;
}
.main-box .header-image .box__image:nth-child(6) {
  top: 88%;
  left: 33%;
  animation: image6 45s linear infinite;
}
.main-box .header-image .box__image:nth-child(7) {
  top: 8%;
  right: -6%;
  animation: image7 42s linear infinite;
}
.main-box .header-image .box__image:nth-child(8) {
  top: 35%;
  right: 7%;
  animation: image8 42s linear infinite;
}
.main-box .header-image .box__image:nth-child(9) {
  top: 76%;
  right: 3%;
  animation: image9 45s linear infinite;
}
.main-box .header-image .box__image:nth-child(10) {
  top: 76%;
  right: 23%;
  animation: image10 45s linear infinite;
}
.main-box .header-image .box__image:nth-child(11) {
  top: 100%;
  right: 2%;
  animation: image11 48s linear infinite;
}
.main-box .header-image .box__image img {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: block;
  object-fit: contain;
}
@media screen and (max-width: 1199px) {
  .main-box {
    background-size: cover;
    height: auto;
    padding: 7rem 0;
  }
  .main-box .header-content {
    position: relative;
    padding: 0 1.5rem;
    margin-top: 5rem;
    box-sizing: border-box;
  }
  .main-box .header-content .main__title {
    top: auto;
    left: auto;
    margin: 0 0 30px;
  }
  .main-box .header-content .main__discription {
    margin: 0 0 3rem;
    font-size: 2rem;
    left: auto;
    right: auto;
  }
  .main-box .pointer {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
  }
}
@media screen and (max-width: 991px) {
  .main-box {
    padding: 10rem 1.5rem 7rem;
  }
  .main-box .header-content .color-title, .main-box .header-content .main__title {
    font-size: 4rem;
    line-height: 4.6rem;
  }
}

.Everyone-Pearl {
  position: relative;
  padding: 6rem 4rem;
  background-color: #fefefe;
}
.Everyone-Pearl__title {
  text-align: center;
  font-size: 5.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  color: #333 !important;
}
.Everyone-Pearl__title .title-color {
  background: linear-gradient(-45deg, #cd2ca4, #e7174d 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 576px) {
  .Everyone-Pearl__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .Everyone-Pearl .job-list {
    text-align: center !important;
  }
}
.Everyone-Pearl .job-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.Everyone-Pearl .job-topic {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #4a5355;
}
.Everyone-Pearl .job-demand {
  font-size: 1.6rem;
  font-weight: 400;
  color: #4e5049;
}
.Everyone-Pearl .row .job-list:nth-child(2) .job-icon {
  color: #6680ed;
}
.Everyone-Pearl .row .job-list:nth-child(3) .job-icon {
  color: #da2c46;
}
.Everyone-Pearl .row .job-list:nth-child(4) .job-icon {
  color: #11b0ae;
}
.Everyone-Pearl .row .job-list:nth-child(5) .job-icon {
  color: #e78c17;
}

.Demos-box {
  background: rgba(0, 0, 0, 0.95);
  padding: 7rem 2rem;
  color: #11b0ae;
}
.Demos-box .Demos__custom-made {
  color: #fefefe;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 6rem;
}
.Demos-box .Demos__custom-made .custom-made-title-color {
  color: #da2c46 !important;
}
.Demos-box .Demos__custom-made-desc {
  color: rgba(255, 255, 255, 0.6);
  max-width: 73rem;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 576px) {
  .Demos-box .Demos__custom-made-desc {
    text-align: left !important;
  }
}
.Demos-box .Demos-list {
  padding: 0 2rem;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.Demos-box .Demos-list .dropdown-button__list {
  position: relative;
  display: none;
  font-size: 2rem;
  text-align: left;
  padding: 1rem 0;
  cursor: pointer;
}
.Demos-box .Demos-list .dropdown-button__list_text {
  font-size: 1.6rem;
}
.Demos-box .Demos-list .dropdown-button__list__icon {
  position: absolute;
  top: calc(50% - 0.9rem);
  right: 0.5rem;
  transition: all 0.3s linear;
  font-size: 2rem;
}
.Demos-box .Demos-list .dropdown-button__list__icon.rotate {
  transform: rotate(-180deg) !important;
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list .dropdown-button__list {
    position: relative;
    display: block !important;
  }
}
.Demos-box .Demos-list .Demos-list__topics {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top;
  transition: all 0.3s linear;
}
.Demos-box .Demos-list .Demos-list__topics .topic {
  color: #11b0ae;
  line-height: 6rem;
  margin: 0rem 2.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
  border: none;
  background: transparent;
  transition: all 0.3s linear;
  position: relative;
  letter-spacing: 0.2rem;
}
.Demos-box .Demos-list .Demos-list__topics .topic::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #da2c46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.Demos-box .Demos-list .Demos-list__topics .topic:hover {
  color: #da2c46;
}
.Demos-box .Demos-list .Demos-list__topics .topic:hover:after {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list .Demos-list__topics .topic {
    margin: 0 !important;
    font-size: 1.6rem !important;
  }
}
@media screen and (max-width: 1199px) {
  .Demos-box .Demos-list .Demos-list__topics .topic {
    margin: 0 1.4rem;
    letter-spacing: 0;
  }
}
.Demos-box .Demos-list .Demos-list__topics .colorChecked {
  position: relative;
  color: #da2c46 !important;
  transition: all 0.5s linear;
}
.Demos-box .Demos-list .Demos-list__topics .colorChecked::after {
  opacity: 1 !important;
  visibility: visible;
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list .Demos-list__topics {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    padding: 2rem 2rem 3rem;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    background-color: #111;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}
.Demos-box .Demos-list .Demos-list__topics.activeOpen {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  z-index: 50 !important;
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list .Demos-list__topics {
    transform: scaleY(0);
  }
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list {
    position: relative;
    min-width: 24rem;
  }
}
.Demos-box .Demos-list__items {
  padding-top: 3rem;
  overflow: hidden;
}
.Demos-box .Demos-list__items .items-link {
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.Demos-box .Demos-list__items .items-link .items-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}
.Demos-box .Demos-list__items .items-link .items-image:hover {
  filter: brightness(70%);
}
.Demos-box .Demos-list__items-desc {
  color: #fefefe;
  margin: 0;
}
.Demos-box .Demos-list__items-desc-color {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background: #da2c46;
  border-radius: 1rem;
  text-transform: uppercase;
  vertical-align: 0.3rem;
}
.Demos-box .Demos-list__items .col-lg-3 {
  margin-top: 2.5rem;
}
@media screen and (max-width: 576px) {
  .Demos-box .Demos__custom-made {
    font-size: 4.6rem;
  }
}

.price-box {
  padding: 6rem 0;
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  color: #fefefe;
  font-size: 3rem;
}
.price-box .price-selling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.price-box .price-selling .price-content {
  line-height: 5rem;
}
.price-box .price-selling .price-content .savingPrice {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.5rem;
}
.price-box .price-selling .price-content .priceSub {
  font-family: "Kanit", sans-serif;
  font-weight: 400 !important;
  letter-spacing: 0.2rem;
}
.price-box .price-selling .price-button .clickBuy {
  outline: none;
  border: none;
  display: inline-block;
  border-radius: 5rem;
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 450;
  letter-spacing: 0.2rem;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s linear;
  background: #fefefe;
  color: #da2c46;
}
.price-box .price-selling .price-button .clickBuy:hover {
  letter-spacing: 0.4rem;
  background: #333;
  color: #fefefe;
  box-shadow: 0 0 10px #333, 0 0 60px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 991px) {
  .price-box .price-selling {
    flex-direction: column;
    text-align: center;
  }
  .price-box .price-selling .price-content {
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  .price-box .price-selling .price-content .savingPrice {
    font-weight: 750;
    margin: 0;
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  .price-box .price-selling .price-content .priceSub {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.advantages-box {
  width: 100%;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  height: auto;
}
.advantages-box .col-lg-3 {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid #11b0ae;
}
.advantages-box .col-lg-3 .posi-icon {
  font-size: 5rem;
  margin-bottom: 3rem;
}
.advantages-box .col-lg-3 .positive-title {
  background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.advantages-box .col-lg-3 .positive-description {
  font-size: 1.6rem;
  background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.advantages-box .col-lg-3 #fast-performance {
  color: #1480c4;
}
.advantages-box .col-lg-3 #responsive {
  color: #da2c46;
}
.advantages-box .col-lg-3 #seo {
  color: #f31a85;
}
.advantages-box .col-lg-3 #user {
  color: #14d943;
}
@media screen and (max-width: 991px) and (min-width: 576px) {
  .advantages-box .col-lg-3 {
    border-bottom: 1px solid #11b0ae;
  }
}
@media screen and (max-width: 575px) {
  .advantages-box .col-lg-3 {
    border-right: 0;
    border-bottom: 1px solid #11b0ae;
  }
}

.plugins-boxes {
  padding: 14rem 0 7rem;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.plugins-boxes__wrap {
  display: flex;
  align-items: center;
  width: 100%;
}
.plugins-boxes__wrap .plugin-list {
  display: flex;
  width: 50%;
  flex-basis: 50%;
  align-items: center;
  padding: 0 50px;
}
.plugins-boxes__wrap .plugin-list__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  padding: 0 2.5rem;
  width: 25%;
}
.plugins-boxes__wrap .plugin-list__item .plugin__item-box {
  min-height: 22rem;
}
.plugins-boxes__wrap .plugin-list__item .plugin__item-box img {
  width: 10.5rem;
  height: auto;
  margin: 0 auto 2.5rem;
  max-width: 100%;
  display: flex;
}
.plugins-boxes__wrap .plugin-list__item .plugin__item-box .plugin-description {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.plugins-boxes__wrap .plugins__infor {
  max-width: 100%;
  width: 50%;
  flex: 0 0 50%;
  margin-bottom: 7rem;
  margin-left: 2.5rem;
  text-align: left;
}
.plugins-boxes__wrap .plugins__infor .plugin__content {
  font-size: 6rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 3rem;
}
.plugins-boxes__wrap .plugins__infor .plugin__content-color {
  color: #da2c46;
}
.plugins-boxes__wrap .plugins__infor .plugin__subtitle {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1199px) {
  .plugins-boxes__wrap {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .plugins-boxes__wrap .plugin-list {
    order: 2;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
  }
  .plugins-boxes__wrap .plugin-list__item {
    width: 100%;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 4rem;
    flex-direction: row;
  }
  .plugins-boxes__wrap .plugin-list__item .plugin__item-box {
    width: 33.333333%;
    flex-basis: 33.3333333%;
    max-width: 16rem;
    padding: 0 1.5rem;
    min-height: auto;
  }
  .plugins-boxes__wrap .plugins__infor {
    order: 1;
    width: 100%;
    flex-basis: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 0 8rem;
    max-width: 48rem;
  }
  .plugins-boxes__wrap .plugins__infor .plugin__subtitle {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 767px) {
  .plugins-boxes__wrap .plugins__infor .plugin__content {
    font-size: 3.6rem;
  }
}

.Feature-list-boxes {
  position: relative;
}
.Feature-list-boxes .Feature-list .item-box {
  padding-top: 12rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  transition: all 0.3s linear;
}
.Feature-list-boxes .Feature-list .item-box .image-box {
  position: relative;
  width: 50%;
  flex-basis: 50%;
  transform-style: preserve-3d;
  box-sizing: border-box;
  transform: perspective(3000px);
  cursor: pointer;
  transition: all 0.3s linear;
}
.Feature-list-boxes .Feature-list .item-box .image-box .image-3D {
  max-width: 100%;
  display: flex;
  object-fit: contain;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}
.Feature-list-boxes .Feature-list .item-box .image-box img {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
.Feature-list-boxes .Feature-list .item-box .image-box .outer-image {
  position: absolute;
  width: 100%;
  transition: all 0.3s linear;
}
.Feature-list-boxes .Feature-list .item-box .image-box.first-box .outer-image__one {
  top: 6rem;
  left: -27rem;
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px);
}
.Feature-list-boxes .Feature-list .item-box .image-box.first-box .outer-image__one img {
  width: 44.2rem;
  height: 22.3rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.first-box .outer-image__two {
  top: 13.5rem;
  left: -8rem;
  -webkit-transform: translateZ(30px);
  transform: translateZ(30px);
}
.Feature-list-boxes .Feature-list .item-box .image-box.first-box .outer-image__two img {
  width: 45.8rem;
  height: 27.2rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.first-box:hover .outer-image__one {
  -webkit-transform: translateZ(40px);
  transform: translateZ(40px);
}
.Feature-list-boxes .Feature-list .item-box .image-box.first-box:hover .outer-image__two {
  -webkit-transform: translateZ(60px);
  transform: translateZ(60px);
}
@media screen and (max-width: 1279px) {
  .Feature-list-boxes .Feature-list .item-box .image-box.first-box .outer-image__one {
    top: 4rem;
    left: 3.5rem;
    max-width: 34.2rem;
  }
  .Feature-list-boxes .Feature-list .item-box .image-box.first-box .outer-image__one img {
    width: 100%;
  }
  .Feature-list-boxes .Feature-list .item-box .image-box.first-box .outer-image__two {
    top: 10rem;
    left: 20rem;
    max-width: 35.8rem;
  }
  .Feature-list-boxes .Feature-list .item-box .image-box.first-box .outer-image__two img {
    width: 100%;
  }
}
.Feature-list-boxes .Feature-list .item-box .image-box.third-box {
  right: 12rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.third-box .image-3D {
  max-width: 49rem;
  max-height: 34.6rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.third-box .outer-image__one {
  top: -3.2rem;
  left: 7.8rem;
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px);
}
.Feature-list-boxes .Feature-list .item-box .image-box.third-box .outer-image__one img {
  max-width: 45.8rem;
  max-height: 23.6rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.third-box .outer-image__two {
  top: 15.4rem;
  left: -7.4rem;
  -webkit-transform: translateZ(70px);
  transform: translateZ(70px);
}
.Feature-list-boxes .Feature-list .item-box .image-box.third-box .outer-image__two img {
  width: 45.8rem;
  height: 22.9rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.fifth-box .outer-image__one {
  top: 7.5rem;
  left: -20rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.fifth-box .outer-image__one img {
  max-width: 25.6rem;
  max-height: 20rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.fifth-box .outer-image__two {
  top: 4.4rem;
  left: -10.8rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.fifth-box .outer-image__two img {
  max-width: 22.9rem;
  max-height: 9.7rem;
}
.Feature-list-boxes .Feature-list .item-box .image-box.fifth-box:hover .outer-image__one {
  top: 8rem;
  transform: translateZ(8rem);
  -webkit-transform: translateZ(8rem);
  -o-transform: translateZ(8rem);
  -moz-transform: translateZ(8rem);
}
.Feature-list-boxes .Feature-list .item-box .image-box.fifth-box:hover .outer-image__two {
  transform: translateZ(10rem);
  -webkit-transform: translateZ(10rem);
  -o-transform: translateZ(10rem);
  -moz-transform: translateZ(10rem);
}
.Feature-list-boxes .Feature-list .item-box .content-box {
  width: 50%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 0 0 2rem;
  position: relative;
  max-width: 50rem;
}
.Feature-list-boxes .Feature-list .item-box .content-box .title-box {
  font-size: 5.5rem;
  font-weight: 700;
}
.Feature-list-boxes .Feature-list .item-box .content-box .title-box span {
  color: #da2c46;
}
.Feature-list-boxes .Feature-list .item-box .content-box .desc-box {
  font-size: 1.8rem;
  font-weight: 450;
  line-height: 3.5rem;
}
.Feature-list-boxes .Feature-list .item-box .content-box .button-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Feature-list-boxes .Feature-list .item-box .content-box .button-box button.learn-more {
  outline: none;
  border: none;
  border-radius: 5rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #c630c7 0, #e83d1d 40%, #e83d1d 55%, #c630c7 100%);
  color: #fefefe;
  text-transform: capitalize;
  background-size: 200% auto;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-size: 200% auto;
  text-transform: uppercase;
  margin-right: 3rem;
}
.Feature-list-boxes .Feature-list .item-box .content-box .button-box button.learn-more:hover {
  background-position: 200%;
}
.Feature-list-boxes .Feature-list .item-box .content-box .button-box .watch-video {
  align-items: center;
  margin-left: 2.4rem;
  font-size: 1.8rem !important;
  outline: none;
  border: none;
  border-radius: 5rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-weight: 500;
  font-size: 1.5rem;
  background: transparent;
  color: #fefefe;
  text-transform: capitalize;
  background-size: 200% auto;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #da2c46;
  font-weight: 400;
}
.Feature-list-boxes .Feature-list .item-box .content-box .button-box .watch-video span {
  position: relative;
  display: inline-block;
}
.Feature-list-boxes .Feature-list .item-box .content-box .button-box .watch-video span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.1rem;
  background: #da2c46;
  display: inline-block;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
}
.Feature-list-boxes .Feature-list .item-box .content-box .button-box .watch-video:hover span::after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.Feature-list-boxes .Feature-list .item-box .content-box .button-box .watch-video i {
  font-size: 1.8rem;
  margin-left: 1rem;
}
@media screen and (max-width: 469px) {
  .Feature-list-boxes .Feature-list .item-box .content-box .button-box {
    flex-direction: column;
  }
  .Feature-list-boxes .Feature-list .item-box .content-box .button-box .watch-video, .Feature-list-boxes .Feature-list .item-box .content-box .button-box button.learn-more {
    margin: 0;
  }
  .Feature-list-boxes .Feature-list .item-box .content-box .button-box button.learn-more {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1439px) {
  .Feature-list-boxes .Feature-list .item-box .image-box {
    width: 55%;
    flex-basis: 55%;
  }
  .Feature-list-boxes .Feature-list .item-box .content-box {
    width: 45%;
    flex-basis: 45%;
  }
}
@media screen and (max-width: 1279px) {
  .Feature-list-boxes .Feature-list .item-box {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
  .Feature-list-boxes .Feature-list .item-box .image-box {
    width: 50%;
    flex-basis: 50%;
    box-sizing: border-box;
  }
  .Feature-list-boxes .Feature-list .item-box .content-box {
    width: 50%;
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 0 6rem;
  }
  .Feature-list-boxes .Feature-list .item-box .content-box .title-box {
    margin-top: 2rem;
    margin-bottom: 2rem !important;
  }
}
@media screen and (max-width: 1099px) {
  .Feature-list-boxes .Feature-list .item-box {
    flex-direction: column;
  }
  .Feature-list-boxes .Feature-list .item-box .image-box {
    max-width: 600px;
    width: 100%;
    flex-basis: 100%;
    margin: 0 auto 3rem;
  }
  .Feature-list-boxes .Feature-list .item-box .content-box {
    width: 100%;
    flex-basis: 100%;
    text-align: center;
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 765px) {
  .Feature-list-boxes .Feature-list .item-box .image-box {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
  }
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) {
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .content-box {
  margin-left: auto;
  margin-right: 0;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) img {
  margin-right: auto;
  margin-left: 0;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.second-box .image-3D {
  margin-right: auto;
  margin-left: 0;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.second-box .outer-image__one {
  top: 4.8rem;
  left: 12.2rem;
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px);
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.second-box .outer-image__one img {
  max-width: 58.8rem !important;
  max-height: auto;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.second-box .outer-image__one:hover {
  transform: translateZ(50px);
}
@media screen and (max-width: 1439px) {
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.second-box .outer-image__one {
    top: 3.2rem;
    left: 6rem;
  }
}
@media screen and (max-width: 1279px) {
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .content-box {
    max-width: none;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.second-box .outer-image__one {
    top: 3.5rem;
    left: 7rem;
    max-width: 40rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.second-box .outer-image__one img {
    width: 100%;
  }
}
@media screen and (max-width: 1099px) {
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .content-box {
    text-align: center;
    order: 2;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .content-box .desc-box {
    max-width: 60rem;
    margin: 0 auto 3rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .content-box .button-box {
    justify-content: center;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.second-box {
    order: 1;
    width: 100%;
    flex-basis: 100%;
    margin: 0 0 3.5rem 0 !important;
    left: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .content-box {
    margin-top: -5rem;
  }
}
@media screen and (max-width: 1279px) {
  .Feature-list-boxes .Feature-list .item-box:nth-child(3) .image-box.third-box {
    right: auto !important;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(3) .image-box.third-box img {
    margin: 0 auto;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(3) .image-box.third-box .outer-image__one {
    top: -3rem;
    left: 18rem;
    width: 39rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(3) .image-box.third-box .outer-image__one img {
    width: 100%;
    height: auto;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(3) .image-box.third-box .outer-image__two {
    top: 16rem;
    left: 12rem;
    width: 39rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(3) .image-box.third-box .outer-image__two img {
    width: 100%;
    height: auto;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(3) .content-box {
    max-width: none;
  }
}
@media screen and (max-width: 1099px) {
  .Feature-list-boxes .Feature-list .item-box:nth-child(3) .content-box {
    max-width: 50rem;
  }
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__one {
  top: -4.4rem;
  left: 16.4rem;
  z-index: 3;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__one img {
  max-width: 17.5rem;
  max-height: 12.8rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__two {
  top: 10.7rem;
  left: 13.3rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__two img {
  max-width: 15.3rem;
  max-height: 14.5rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__three {
  top: -3.1rem;
  left: 37.4rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__three img {
  max-width: 40.6rem;
  max-height: 6.6rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__four {
  top: 4.4rem;
  left: 29.4rem;
  z-index: 2;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__four img {
  max-width: 20.5rem;
  max-height: 13.8rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__five {
  top: 4.8rem;
  left: 50rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__five img {
  max-width: 22.6rem;
  max-height: 11.6rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__six {
  top: 13.4rem;
  left: 38rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__six img {
  max-width: 32.3rem;
  max-height: 12.9rem;
}
.Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box:hover .outer-image__one, .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box:hover .outer-image__two, .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box:hover .outer-image__three, .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box:hover .outer-image__four, .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box:hover .outer-image__five, .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box:hover .outer-image__six {
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
}
@media screen and (max-width: 1439px) {
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box img {
    width: 100%;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__one {
    top: -1.4rem;
    left: 17.4rem;
    max-width: 12.5rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__two {
    top: 8.7rem;
    left: 15.3rem;
    max-width: 10.3rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__three {
    top: -1.1rem;
    left: 32.4rem;
    max-width: 30.6rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__four {
    top: 4.4rem;
    left: 26.4rem;
    max-width: 15.5rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__five {
    top: 4rem;
    left: 42rem;
    max-width: 21.5rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__six {
    top: 13.4rem;
    left: 36rem;
    max-width: 27.3rem;
  }
}
@media screen and (max-width: 1279px) {
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__one {
    top: -1rem;
    left: 15.4rem;
    max-width: 8.5rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__two {
    top: 6.7rem;
    left: 13.3rem;
    max-width: 8.3rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__three {
    top: -1.1rem;
    left: 25.4rem;
    max-width: 24.6rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__four {
    top: 4.4rem;
    left: 21.4rem;
    max-width: 8.5rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__five {
    top: 3rem;
    left: 33rem;
    max-width: 14.5rem;
  }
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box .outer-image__six {
    top: 9.4rem;
    left: 25rem;
    max-width: 20.3rem;
  }
}
@media screen and (max-width: 1099px) {
  .Feature-list-boxes .Feature-list .item-box:nth-child(2n) .image-box.fourth-box {
    margin: 0 0 3.5rem 0 !important;
    left: 10rem;
  }
}

.comment-box {
  padding: 9rem 0;
  background-image: url(http://demo.themelogi.com/navian/wp-content/uploads/2019/06/collaboratings.jpg?id=8304);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.comment-box .content-box {
  position: relative;
  z-index: 5;
  color: #fefefe;
  margin-bottom: 5.5rem;
}
.comment-box .content-box__title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 3rem;
}
.comment-box .content-box__title span {
  color: #da2c46;
}
.comment-box .content-box__desc {
  font-size: 1.8rem;
}
.comment-box .carousel-box {
  position: relative;
  padding: 0 3rem;
}
.comment-box .carousel-box .item {
  padding: 3rem;
  background-color: #fefefe;
  color: #000;
  border-radius: 1rem;
}
.comment-box .carousel-box .item__review-comment {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.comment-box .carousel-box .item__review-list__rates .rate {
  color: #efff0a;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.comment-box .carousel-box .item__review-list__rates .rate:not(:last-of-type) {
  margin-right: 0.5rem;
}
.comment-box .carousel-box .item .author {
  font-size: 1.4rem;
}
@media screen and (max-width: 1200px) {
  .comment-box .carousel-box .item__review-comment {
    font-size: 1.7rem;
    line-height: 2.8rem;
  }
}
.comment-box .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem !important;
}
.comment-box .owl-dots .owl-dot {
  outline: none;
}
.comment-box .owl-dots .owl-dot:hover span {
  background-color: #da2c46 !important;
}
.comment-box .owl-dots .owl-dot.active span {
  background-color: #da2c46 !important;
}
.comment-box__bgc-cover {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 767px) {
  .comment-box .content-box__title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .comment-box .content-box__title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .comment-box .content-box__title {
    font-size: 4rem;
  }
}

.more-features {
  padding: 9rem 0 0;
}
.more-features__title {
  font-size: 5rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 5rem;
}
.more-features__title span {
  color: #da2c46;
}
.more-features__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.more-features__list-item__icon {
  font-size: 4rem !important;
  margin-bottom: 1.5rem;
}
.more-features__list-item__heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.more-features__list-item__desc {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.helpful-supporter {
  padding: 12rem 0;
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.helpful-supporter .container-fluid {
  max-width: 1110px;
}
.helpful-supporter__infor {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  display: block;
}
.helpful-supporter__infor img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.helpful-supporter__infor-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.helpful-supporter__infor-content__icon {
  background: linear-gradient(to right, #141e30, #243b55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.6rem !important;
  position: relative;
  transition: all 0.3s linear;
  margin-bottom: 2.6rem;
}
.helpful-supporter__infor-content__heading {
  font-size: 2rem;
  background: linear-gradient(to right, #141e30, #243b55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  transition: all 0.3s linear;
  font-weight: 700;
  letter-spacing: 0.2rem;
  position: relative;
  margin: 0;
}
.helpful-supporter__infor-content__desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  padding: 2.5rem 3rem 0;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.8rem;
  color: #111;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  font-weight: 650;
  width: 100%;
}
.helpful-supporter__infor-content::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  z-index: -2;
  opacity: 0;
  visibility: hidden;
}
.helpful-supporter__infor:hover .helpful-supporter__infor-content__icon {
  margin-top: -5rem;
  visibility: hidden;
  opacity: 0;
}
.helpful-supporter__infor:hover .helpful-supporter__infor-content__heading {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.helpful-supporter__infor:hover .helpful-supporter__infor-content__desc {
  position: relative;
  bottom: auto;
  left: auto;
  right: auto;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: visible;
  opacity: 1;
}
.helpful-supporter__infor:hover .helpful-supporter__infor-content:after {
  top: 0;
  height: 100%;
  opacity: 0.6;
  visibility: visible;
}
@media screen and (max-width: 991px) {
  .helpful-supporter__infor-content__heading {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }
  .helpful-supporter__infor-content__desc {
    padding: 1.5rem 1.5rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .helpful-supporter__infor {
    max-width: 36rem;
    margin: 0 auto;
  }
  .helpful-supporter__infor-content__desc {
    padding: 2.5rem 3rem;
  }
}

.footer {
  overflow: hidden;
  height: 85vh;
  position: relative;
  background-image: url(http://demo.themelogi.com/navian/wp-content/uploads/2019/06/groups.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-infor {
  padding: 12rem 0 10rem;
  position: relative;
  color: white;
  z-index: 2;
}
.footer-infor__title {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
}
.footer-infor__content {
  max-width: 61rem;
  font-size: 3rem;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 5.5rem;
}
.footer-infor .footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-infor .footer-buttons__buy, .footer-infor .footer-buttons__guild {
  outline: none;
  border: none;
  display: inline-block;
  border-radius: 5rem;
  padding: 1.5rem 4rem;
  transition: all 0.3s linear;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  font-weight: 500;
}
.footer-infor .footer-buttons__buy {
  margin-right: 2.2rem;
  background-image: linear-gradient(135deg, #c630c7 0, #e83d1d 40%, #e83d1d 55%, #c630c7 100%);
  background-size: 200%;
  text-transform: uppercase;
}
.footer-infor .footer-buttons__buy:hover {
  background-position: 200%;
}
.footer-infor .footer-buttons__guild {
  background: transparent;
  margin-left: 3rem;
  position: relative;
  text-transform: capitalize;
}
.footer-infor .footer-buttons__guild span {
  position: relative;
  display: inline-block;
}
.footer-infor .footer-buttons__guild span::after {
  content: "";
  position: absolute;
  transition: all 0.3s linear;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fefefe;
  width: 0;
  height: 1px;
  display: block;
  opacity: 0;
  visibility: hidden;
}
.footer-infor .footer-buttons__guild i {
  margin-left: 1rem;
  font-size: 2rem;
}
.footer-infor .footer-buttons__guild:hover span::after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.footer .copyright {
  position: relative;
  text-align: center;
  z-index: 5;
  color: #fefefe;
  padding: 3rem 0;
  font-size: 1.6rem;
  word-spacing: 0.15rem;
  color: rgba(255, 255, 255, 0.2);
}
.footer .copyright span {
  position: relative;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s linear;
  outline: none;
  border-bottom: 1px solid transparent;
}
.footer .copyright span:hover {
  color: #fefefe;
  border-bottom: 1px solid #fefefe;
}
.footer .bgc__cover {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 767px) {
  .footer .container {
    max-width: 1110px;
  }
  .footer-infor__title {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 491px) {
  .footer {
    height: 100vh;
  }
  .footer-infor .footer-buttons {
    flex-direction: column;
  }
  .footer-infor .footer-buttons__buy {
    margin: 0 0 2rem;
  }
  .footer-infor .footer-buttons__guild {
    margin: 0;
  }
  .footer .copyright {
    margin-bottom: 3rem;
  }
}

.button__scroll-top {
  position: fixed;
  right: 1.125rem;
  bottom: 100%;
  background: #fff;
  color: #000;
  outline: none;
  border: none;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  font-size: 1.5rem;
  animation: scrollTop 2s linear infinite;
  cursor: pointer;
}

.button__scroll-top:focus {
  outline: none;
}

.scroll__toTop {
  bottom: 5% !important;
}

/*# sourceMappingURL=Pearl.css.map */
