* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 2.4rem;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main-box {
  height: 100vh;
  position: relative;
  padding-top: 3rem;
  font-size: 1.5rem;
  background: linear-gradient(to right, rgba(221, 214, 243, 0.5), rgba(250, 172, 168, 0.4));
}
.main-box .navbar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.main-box .navbar-item .logo {
  height: auto;
}
.main-box .navbar-item .logo .img-logo {
  display: block;
  width: 100%;
  max-width: 50%;
  object-fit: cover;
}
.main-box .navbar-item .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}
.main-box .navbar-item .menu-list__items {
  font-weight: 600;
}
.main-box .navbar-item .menu-list__items:not(:last-of-type) {
  margin-right: 4rem;
}
.main-box .navbar-item .menu-list__items:last-of-type {
  margin-right: 3rem;
}
.main-box .navbar-item .menu-list__items-name {
  color: #333;
  text-decoration: none;
  position: relative;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2rem;
}
.main-box .navbar-item .menu-list__items-name::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 0.3rem;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s linear;
  display: block;
}
.main-box .navbar-item .menu-list__items-name::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 0;
  height: 0.3rem;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s linear;
  display: block;
}
.main-box .navbar-item .menu-list__items-name:hover::after, .main-box .navbar-item .menu-list__items-name:hover::before {
  width: 50%;
}
.main-box .navbar-item .menu-list__items-icon {
  font-size: 1.4rem;
  margin-top: 0.3rem;
}
.main-box .navbar-item .menu-list__items .subMenu-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-image: linear-gradient(to right, #232526, #414345);
  position: absolute;
  width: 100%;
  left: 0;
  top: 6rem;
  z-index: 2;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1), 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
  transform: scaleY(0);
  transition: all 0.5s linear;
  transform-origin: top;
}
.main-box .navbar-item .menu-list__items .subMenu-list__hide:not(:last-of-type) {
  border-right: 0.5px solid #11b0ae;
}
.main-box .navbar-item .menu-list__items .subMenu-list__hide:not(:first-of-type) {
  padding-left: 1.5rem;
}
.main-box .navbar-item .menu-list__items .subMenu-list-hide__items-icon {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #11b0ae;
}
.main-box .navbar-item .menu-list__items .subMenu-list-hide__items-content {
  text-decoration: none;
  color: #11b0ae;
  font-size: 1.7rem;
}
.main-box .navbar-item .menu-list__items .subMenu-list::after {
  content: "";
  top: -6.5%;
  position: absolute;
  width: 100%;
  display: block;
  height: 3rem;
  background: transparent;
}
.main-box .navbar-item .menu-list__items .subMenu-short-list {
  background-image: linear-gradient(to right, #232526, #414345);
  position: absolute;
  width: 100%;
  left: 0;
  top: 6rem;
  z-index: 2;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1), 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
  transform: scaleY(0);
  transition: all 0.5s linear;
  transform-origin: top;
  width: 26rem !important;
  top: 4.55rem !important;
}
.main-box .navbar-item .menu-list__items .subMenu-short-list__items-icon {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #11b0ae;
}
.main-box .navbar-item .menu-list__items .subMenu-short-list__items-content {
  text-decoration: none;
  color: #11b0ae;
  font-size: 1.7rem;
}
.main-box .navbar-item .menu-list__items .subMenu-short-list::after {
  left: 0;
  content: "";
  top: -6.5%;
  position: absolute;
  width: 100%;
  display: block;
  height: 3rem;
  background: transparent;
}
.main-box .navbar-item .menu-list__items:hover .subMenu-list, .main-box .navbar-item .menu-list__items:hover .subMenu-short-list {
  transform: scaleY(1);
  opacity: 1;
}
.main-box .btn-item {
  outline: none;
  border: none;
  border-radius: 5rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  background: #fa4e40;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fefefe;
  text-transform: capitalize;
  transition: all 0.3s linear;
}
.main-box .btn-item i {
  margin-left: 1rem;
}
.main-box .btn-item:hover {
  letter-spacing: 0.2rem;
  background-color: #fefefe;
  color: #fa4e40;
}
.main-box .btn-item:hover i {
  color: #fa4e40;
}
.main-box .header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  top: 5rem;
}
.main-box .header-content .color-title {
  font-size: 6rem;
  background: linear-gradient(-45deg, #cd2ca4, #e7174d 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
}
.main-box .header-content .main__title {
  font-size: 6rem;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  width: 80%;
  margin-bottom: 3rem;
}
.main-box .header-content .main__discription {
  font-size: 2rem;
  width: 50%;
}
.main-box .header-content .video-button {
  padding: 1rem 3rem;
  border: solid 3px #fa4e40;
  border-radius: 5rem;
  color: #fa4e40;
  font-size: 2.5rem;
  text-decoration: none;
  background: #fefefe;
  transition: all 0.8s ease-in-out;
}
.main-box .header-content .video-button i {
  margin-left: 1rem;
}
.main-box .header-content .video-button:hover {
  background-color: #fa4e40;
  color: #fefefe;
  border: 3px solid #fefefe;
}
.main-box .header-content .pointer {
  font-size: 4rem;
  margin-top: 2rem;
}

.Everyone-Pearl {
  position: relative;
  padding: 6rem 4rem;
  background-color: #fefefe;
}
.Everyone-Pearl__title {
  text-align: center;
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900 !important;
  color: #333 !important;
}
.Everyone-Pearl__title .title-color {
  background: linear-gradient(-45deg, #cd2ca4, #e7174d 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
}
.Everyone-Pearl .job-icon {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.Everyone-Pearl .job-topic {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #4a5355;
}
.Everyone-Pearl .job-demand {
  font-size: 1.6rem;
  font-weight: 400;
  color: #4e5049;
}
.Everyone-Pearl .row .job-list:nth-child(2) .job-icon {
  color: #6680ed;
}
.Everyone-Pearl .row .job-list:nth-child(3) .job-icon {
  color: #da2c46;
}
.Everyone-Pearl .row .job-list:nth-child(4) .job-icon {
  color: #11b0ae;
}
.Everyone-Pearl .row .job-list:nth-child(5) .job-icon {
  color: #e78c17;
}

.Demos-box {
  background: rgba(0, 0, 0, 0.95);
  padding: 7rem 2rem;
  color: #11b0ae;
}
.Demos-box .Demos__custom-made {
  color: #fefefe;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 6rem;
}
.Demos-box .Demos__custom-made .custom-made-title-color {
  color: #da2c46 !important;
}
.Demos-box .Demos__custom-made-desc {
  color: rgba(255, 255, 255, 0.6);
  width: 60%;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4rem;
}
.Demos-box .Demos-list {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.Demos-box .Demos-list .Demos-list__topics {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Demos-box .Demos-list .Demos-list__topics .topic {
  color: #11b0ae;
  line-height: 6rem;
  margin: 0rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  border: none;
  background: transparent;
  letter-spacing: 0.3rem;
}
.Demos-box .Demos-list .Demos-list__topics .topic-color {
  display: inline-block;
  position: relative;
  transition: all 0.3s linear;
  padding-bottom: 0.5rem;
}
.Demos-box .Demos-list .Demos-list__topics .topic-color::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #da2c46;
  transition: all 0.3s linear;
  opacity: 0;
}
.Demos-box .Demos-list .Demos-list__topics .topic-color:hover {
  color: #da2c46;
}
.Demos-box .Demos-list .Demos-list__topics .topic-color:hover::after {
  opacity: 1;
}
.Demos-box .Demos-list .Demos-list__topics .colorChecked {
  position: relative;
  color: #da2c46 !important;
  transition: all 0.5s linear;
}
.Demos-box .Demos-list .Demos-list__topics .colorChecked::after {
  opacity: 1 !important;
}
.Demos-box .Demos-list__items {
  padding-top: 3rem;
  overflow: hidden;
}
.Demos-box .Demos-list__items .items-link {
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.Demos-box .Demos-list__items .items-link .items-image {
  width: 100%;
  height: 100%;
}
.Demos-box .Demos-list__items-desc {
  color: #fefefe;
  margin: 0;
}
.Demos-box .Demos-list__items-desc-color {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background: #da2c46;
  border-radius: 1rem;
  text-transform: uppercase;
  vertical-align: 0.3rem;
}
.Demos-box .Demos-list__items .col-lg-3 {
  margin-top: 2.5rem;
  display: block;
}
.Demos-box .Demos-list__items .noneChecked {
  display: none;
}
.Demos-box .Demos-list__items .zoom-out {
  animation: zoom_out 0.3s linear forwards;
}
.Demos-box .Demos-list__items .zoom-in {
  animation: zoom_in 0.3s linear forwards;
}

.price-box {
  padding: 6rem 0;
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  color: #fefefe;
  font-size: 3rem;
}
.price-box .price-selling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.price-box .price-selling .price-content {
  line-height: 5rem;
}
.price-box .price-selling .price-content .savingPrice {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.5rem;
}
.price-box .price-selling .price-content .priceSub {
  font-family: "Kanit", sans-serif;
  font-weight: 400 !important;
  letter-spacing: 0.2rem;
}
.price-box .price-selling .price-button .clickBuy {
  outline: none;
  border: none;
  display: inline-block;
  border-radius: 5rem;
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 450;
  letter-spacing: 0.2rem;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s linear;
  background: #fefefe;
  color: #da2c46;
}
.price-box .price-selling .price-button .clickBuy:hover {
  letter-spacing: 0.4rem;
  background: #333;
  color: #fefefe;
  box-shadow: 0 0 10px #333, 0 0 60px rgba(0, 0, 0, 0.5);
}

.advantages-box {
  width: 100%;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  height: auto;
}
.advantages-box .col-lg-3 {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.advantages-box .col-lg-3 .posi-icon {
  font-size: 5rem;
  margin-bottom: 3rem;
}
.advantages-box .col-lg-3 .positive-title {
  font-size: 2rem;
  background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.advantages-box .col-lg-3 .positive-description {
  font-size: 1.8rem;
  background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.advantages-box .col-lg-3 #fast-performance {
  color: #1480c4;
}
.advantages-box .col-lg-3 #responsive {
  color: #da2c46;
}
.advantages-box .col-lg-3 #seo {
  color: #f31a85;
}
.advantages-box .col-lg-3 #user {
  color: #14d943;
}

.plugins-boxes {
  padding: 8rem 3rem;
}
.plugins-boxes .plugin-images {
  width: 100%;
}
.plugins-boxes .plugin-images img {
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=Pearl.css.map */
