* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  line-height: 2.4rem;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header-nav {
  position: absolute;
  top: 2%;
  left: 0;
  font-size: 1.5rem;
  width: 100%;
  z-index: 100;
}
.header-nav .container .navbar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.header-nav .container .navbar-item .logo {
  z-index: 100;
  height: auto;
}
.header-nav .container .navbar-item .logo .img-logo {
  display: block;
  width: 100%;
  max-width: 50%;
  object-fit: cover;
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .logo {
    z-index: 100;
    padding: 1rem 0 1rem 2rem;
  }
}
.header-nav .container .navbar-item .menu-list {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
  margin-bottom: 0;
}
.header-nav .container .navbar-item .menu-list__items {
  padding: 2rem 0;
  font-weight: 600;
}
.header-nav .container .navbar-item .menu-list__items:not(:last-of-type) {
  margin-right: 4rem;
}
@media screen and (max-width: 1200px) {
  .header-nav .container .navbar-item .menu-list__items:not(:last-of-type) {
    font-size: 1.4rem;
    margin-right: 1.7rem;
  }
}
.header-nav .container .navbar-item .menu-list__items:nth-last-of-type(2) {
  margin-right: 3rem;
}
@media screen and (max-width: 1200px) {
  .header-nav .container .navbar-item .menu-list__items:nth-last-of-type(2) {
    font-size: 1.4rem;
    margin-right: 1.7rem;
  }
}
.header-nav .container .navbar-item .menu-list__items:last-of-type {
  padding: 2rem 0;
}
.header-nav .container .navbar-item .menu-list__items-name {
  color: #333;
  text-decoration: none;
  position: relative;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2rem;
}
.header-nav .container .navbar-item .menu-list__items-name::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 0.3rem;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s linear;
  display: block;
}
.header-nav .container .navbar-item .menu-list__items-name::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 0;
  height: 0.3rem;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s linear;
  display: block;
}
.header-nav .container .navbar-item .menu-list__items-name:hover::after, .header-nav .container .navbar-item .menu-list__items-name:hover::before {
  width: 50%;
}
.header-nav .container .navbar-item .menu-list__items-icon {
  font-size: 1.4rem;
  margin-top: 0.3rem;
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .menu-list__items-icon {
    position: absolute;
    right: 2px;
  }
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-image: linear-gradient(to right, #232526, #414345);
  position: absolute;
  width: 100%;
  left: 0;
  top: 8rem;
  z-index: 2;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1), 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
  transform: scaleY(0);
  transition: all 0.2s linear;
  transform-origin: top;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list__hide:not(:last-of-type) {
  border-right: 0.5px solid #11b0ae;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list__hide:not(:first-of-type) {
  padding-left: 1.5rem;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list-hide__items-icon {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #11b0ae;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list-hide__items-content {
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #11b0ae;
  font-size: 1.7rem;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list-hide__items-content::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0.2rem;
  left: 0;
  background-color: #11b0ae;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list-hide__items-content:hover::after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-list::after {
  content: "";
  top: -6.5%;
  position: absolute;
  width: 100%;
  display: block;
  height: 3rem;
  background: transparent;
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .menu-list__items .subMenu-list.activeSub {
    display: block !important;
    animation: Top_Down 0.3s linear forwards;
  }
}
.header-nav .container .navbar-item .menu-list__items .subMenu-short-list {
  background-image: linear-gradient(to right, #232526, #414345);
  position: absolute;
  width: 100%;
  left: 0;
  top: 8rem;
  z-index: 2;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1), 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
  transform: scaleY(0);
  transition: all 0.2s linear;
  transform-origin: top;
  width: 26rem !important;
  top: 6.5rem !important;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-short-list__items-icon {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #11b0ae;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-short-list__items-content {
  text-decoration: none;
  color: #11b0ae;
  font-size: 1.7rem;
}
.header-nav .container .navbar-item .menu-list__items .subMenu-short-list::after {
  left: 0;
  content: "";
  top: -6.5%;
  position: absolute;
  width: 100%;
  display: block;
  height: 3rem;
  background: transparent;
}
.header-nav .container .navbar-item .menu-list__items:hover .subMenu-list, .header-nav .container .navbar-item .menu-list__items:hover .subMenu-short-list {
  transform: scaleY(1);
  opacity: 1;
}
.header-nav .container .navbar-item .menu-list__items .btn-item {
  outline: none;
  border: none;
  border-radius: 5rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  background: #fa4e40;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fefefe;
  text-transform: capitalize;
  transition: all 0.3s linear;
}
.header-nav .container .navbar-item .menu-list__items .btn-item i {
  margin-left: 1rem;
}
.header-nav .container .navbar-item .menu-list__items .btn-item:hover {
  letter-spacing: 0.2rem;
  background-color: #fefefe;
  color: #fa4e40;
}
.header-nav .container .navbar-item .menu-list__items .btn-item:hover i {
  color: #fa4e40;
}
@media screen and (max-width: 1200px) {
  .header-nav .container .navbar-item .menu-list__items .btn-item {
    display: block;
    font-size: 1.4rem;
    padding: 1.5rem 3rem;
  }
  .header-nav .container .navbar-item .menu-list__items .btn-item:hover {
    letter-spacing: 0.1rem;
  }
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .menu-list__items {
    width: 100%;
    margin: 1rem 0 !important;
  }
  .header-nav .container .navbar-item .menu-list__items .subMenu-list, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list {
    margin-top: 1rem;
    display: none;
    position: relative !important;
    box-shadow: none;
    top: 0rem !important;
    opacity: 1;
    width: 100% !important;
    visibility: 1;
    border-radius: 0;
  }
  .header-nav .container .navbar-item .menu-list__items .subMenu-list.activeSub, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list.activeSub {
    display: block !important;
    animation: Top_Down 0.3s linear forwards;
  }
  .header-nav .container .navbar-item .menu-list__items .subMenu-list .subMenu-list__hide, .header-nav .container .navbar-item .menu-list__items .subMenu-list .subMenu-short-list__items, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list .subMenu-list__hide, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list .subMenu-short-list__items {
    padding: 0;
    display: block;
  }
  .header-nav .container .navbar-item .menu-list__items .subMenu-list .subMenu-list__hide, .header-nav .container .navbar-item .menu-list__items .subMenu-short-list .subMenu-list__hide {
    border-right: none;
  }
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item .menu-list {
    display: none;
    width: 100%;
    position: relative;
    z-index: 100;
    overflow-y: auto;
    padding: 2rem 0;
  }
  .header-nav .container .navbar-item .menu-list__items {
    position: relative !important;
    padding: 1rem 0;
  }
  .header-nav .container .navbar-item .menu-list__items-name {
    padding: 0 2rem;
  }
  .header-nav .container .navbar-item .menu-list__items:last-of-type {
    margin-top: 2rem;
  }
  .header-nav .container .navbar-item .menu-list__items .menu-list__items-icon {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    transition: all 0.3s linear;
  }
  .header-nav .container .navbar-item .menu-list__items .menu-list__items-icon.updown {
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 991px) {
  .header-nav .container .navbar-item {
    background-color: #111;
    padding: 0;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    color: #fefefe;
    transition: all 0.3s linear;
    z-index: 100;
  }
  .header-nav .container .navbar-item .menu-list__items-name {
    color: #fefefe;
  }
}
.header-nav .container .navbar-item::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  max-height: 0;
  opacity: 0;
}
@media screen and (max-width: 991px) {
  .header-nav .container {
    max-width: 1100px !important;
    padding: 0;
  }
  .header-nav .container.nav__active .navbar-item {
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    height: 100%;
  }
  .header-nav .container.nav__active .navbar-item::after {
    max-height: 100%;
    opacity: 1;
  }
  .header-nav .container.nav__active .menu-list {
    display: block !important;
  }
}
.header-nav .container .dropdown-menu__button {
  position: absolute;
  display: none;
  align-items: center;
  z-index: 100;
  width: 6.2rem;
  height: 6.2rem;
  cursor: pointer;
  top: 0;
  right: 1rem;
}
.header-nav .container .dropdown-menu__button span.button-click {
  position: absolute;
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 3rem;
  background: #e7174d;
  transition: all 0.5s cubic-bezier(0.615, 0.25, 0.505, 1.47);
  cursor: pointer;
  right: 1.5rem;
}
.header-nav .container .dropdown-menu__button span.button-click::after, .header-nav .container .dropdown-menu__button span.button-click::before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 2rem;
  background: #e7174d;
  transition: all 0.5s cubic-bezier(0.615, 0.25, 0.505, 1.47);
  cursor: pointer;
}
.header-nav .container .dropdown-menu__button span.button-click:after {
  bottom: -1rem;
}
.header-nav .container .dropdown-menu__button span.button-click::before {
  top: -1rem;
}
.header-nav .container .dropdown-menu__button span.button-click.closeX {
  background: transparent;
}
.header-nav .container .dropdown-menu__button span.button-click.closeX::after {
  top: 0;
  transform: rotate(-45deg) scale(1.1);
}
.header-nav .container .dropdown-menu__button span.button-click.closeX::before {
  top: 0;
  transform: rotate(45deg) scale(1.1);
}
@media screen and (max-width: 991px) {
  .header-nav .container .dropdown-menu__button {
    display: flex;
  }
}
@media screen and (max-width: 991px) {
  .header-nav {
    top: 0;
  }
}

.main-box {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main-box .header-content {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main-box .header-content .color-title {
  font-size: 6rem;
  background: linear-gradient(-45deg, #cd2ca4, #e7174d 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
}
@media screen and (max-width: 991px) {
  .main-box .header-content .color-title {
    font-size: 4rem;
  }
}
.main-box .header-content .main__title {
  font-size: 6rem;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  width: 80%;
  margin-bottom: 3rem;
}
@media screen and (max-width: 991px) {
  .main-box .header-content .main__title {
    font-size: 4rem;
  }
}
.main-box .header-content .main__discription {
  font-size: 2rem;
  width: 50%;
}
.main-box .header-content .video-button {
  padding: 1rem 3rem;
  border: solid 3px #fa4e40;
  border-radius: 5rem;
  color: #fa4e40;
  font-size: 2.5rem;
  text-decoration: none;
  background: #fefefe;
  transition: all 0.8s ease-in-out;
}
.main-box .header-content .video-button i {
  margin-left: 1rem;
}
.main-box .header-content .video-button:hover {
  background-color: #fa4e40;
  color: #fefefe;
  border: 3px solid #fefefe;
}
.main-box .header-content .pointer {
  font-size: 4rem;
  margin-top: 2rem;
}

.Everyone-Pearl {
  position: relative;
  padding: 6rem 4rem;
  background-color: #fefefe;
}
.Everyone-Pearl__title {
  text-align: center;
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900 !important;
  color: #333 !important;
}
.Everyone-Pearl__title .title-color {
  background: linear-gradient(-45deg, #cd2ca4, #e7174d 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 576px) {
  .Everyone-Pearl__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .Everyone-Pearl .job-list {
    text-align: center !important;
  }
}
.Everyone-Pearl .job-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.Everyone-Pearl .job-topic {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #4a5355;
}
.Everyone-Pearl .job-demand {
  font-size: 1.6rem;
  font-weight: 400;
  color: #4e5049;
}
.Everyone-Pearl .row .job-list:nth-child(2) .job-icon {
  color: #6680ed;
}
.Everyone-Pearl .row .job-list:nth-child(3) .job-icon {
  color: #da2c46;
}
.Everyone-Pearl .row .job-list:nth-child(4) .job-icon {
  color: #11b0ae;
}
.Everyone-Pearl .row .job-list:nth-child(5) .job-icon {
  color: #e78c17;
}

.Demos-box {
  background: rgba(0, 0, 0, 0.95);
  padding: 7rem 2rem;
  color: #11b0ae;
}
.Demos-box .Demos__custom-made {
  color: #fefefe;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 6rem;
}
.Demos-box .Demos__custom-made .custom-made-title-color {
  color: #da2c46 !important;
}
.Demos-box .Demos__custom-made-desc {
  color: rgba(255, 255, 255, 0.6);
  max-width: 73rem;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 576px) {
  .Demos-box .Demos__custom-made-desc {
    text-align: left !important;
  }
}
.Demos-box .Demos-list {
  padding: 0 2rem;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.Demos-box .Demos-list .dropdown-button__list {
  position: relative;
  display: none;
  font-size: 2rem;
  text-align: left;
  padding: 1rem 0;
  cursor: pointer;
}
.Demos-box .Demos-list .dropdown-button__list__icon {
  position: absolute;
  top: calc(50% - 0.9rem);
  right: 0.5rem;
  transition: all 0.3s linear;
  font-size: 2rem;
}
.Demos-box .Demos-list .dropdown-button__list__icon.rotate {
  transform: rotate(-180deg) !important;
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list .dropdown-button__list {
    position: relative;
    display: block !important;
  }
}
.Demos-box .Demos-list .Demos-list__topics {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top;
  transition: all 0.3s linear;
}
.Demos-box .Demos-list .Demos-list__topics .topic {
  color: #11b0ae;
  line-height: 6rem;
  margin: 0rem 2.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
  border: none;
  background: transparent;
  transition: all 0.3s linear;
  position: relative;
  letter-spacing: 0.2rem;
}
.Demos-box .Demos-list .Demos-list__topics .topic::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #da2c46;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.Demos-box .Demos-list .Demos-list__topics .topic:hover {
  color: #da2c46;
}
.Demos-box .Demos-list .Demos-list__topics .topic:hover:after {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list .Demos-list__topics .topic {
    margin: 0 !important;
    font-size: 1.6rem !important;
  }
}
@media screen and (max-width: 1199px) {
  .Demos-box .Demos-list .Demos-list__topics .topic {
    margin: 0 1.4rem;
    letter-spacing: 0;
  }
}
.Demos-box .Demos-list .Demos-list__topics .colorChecked {
  position: relative;
  color: #da2c46 !important;
  transition: all 0.5s linear;
}
.Demos-box .Demos-list .Demos-list__topics .colorChecked::after {
  opacity: 1 !important;
  visibility: visible;
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list .Demos-list__topics {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    padding: 2rem 2rem 3rem;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    background-color: #111;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}
.Demos-box .Demos-list .Demos-list__topics.active {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  z-index: 100 !important;
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list .Demos-list__topics {
    transform: scaleY(0);
  }
}
@media screen and (max-width: 991px) {
  .Demos-box .Demos-list {
    position: relative;
    min-width: 24rem;
  }
}
.Demos-box .Demos-list__items {
  padding-top: 3rem;
  overflow: hidden;
}
.Demos-box .Demos-list__items .items-link {
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.Demos-box .Demos-list__items .items-link .items-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}
.Demos-box .Demos-list__items .items-link .items-image:hover {
  filter: brightness(70%);
}
.Demos-box .Demos-list__items-desc {
  color: #fefefe;
  margin: 0;
}
.Demos-box .Demos-list__items-desc-color {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background: #da2c46;
  border-radius: 1rem;
  text-transform: uppercase;
  vertical-align: 0.3rem;
}
.Demos-box .Demos-list__items .col-lg-3 {
  margin-top: 2.5rem;
}

.price-box {
  padding: 6rem 0;
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  color: #fefefe;
  font-size: 3rem;
}
.price-box .price-selling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.price-box .price-selling .price-content {
  line-height: 5rem;
}
.price-box .price-selling .price-content .savingPrice {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.5rem;
}
.price-box .price-selling .price-content .priceSub {
  font-family: "Kanit", sans-serif;
  font-weight: 400 !important;
  letter-spacing: 0.2rem;
}
.price-box .price-selling .price-button .clickBuy {
  outline: none;
  border: none;
  display: inline-block;
  border-radius: 5rem;
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 450;
  letter-spacing: 0.2rem;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s linear;
  background: #fefefe;
  color: #da2c46;
}
.price-box .price-selling .price-button .clickBuy:hover {
  letter-spacing: 0.4rem;
  background: #333;
  color: #fefefe;
  box-shadow: 0 0 10px #333, 0 0 60px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 991px) {
  .price-box .price-selling {
    flex-direction: column;
    text-align: center;
  }
  .price-box .price-selling .price-content {
    margin-bottom: 2rem;
    line-height: 4rem;
  }
  .price-box .price-selling .price-content .savingPrice {
    font-weight: 800;
    margin: 0;
    font-size: 3.5rem;
  }
  .price-box .price-selling .price-content .priceSub {
    font-size: 2rem;
    font-weight: 600;
  }
}

.advantages-box {
  width: 100%;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  height: auto;
}
.advantages-box .col-lg-3 {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid #11b0ae;
}
.advantages-box .col-lg-3 .posi-icon {
  font-size: 5rem;
  margin-bottom: 3rem;
}
.advantages-box .col-lg-3 .positive-title {
  background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.advantages-box .col-lg-3 .positive-description {
  font-size: 1.6rem;
  background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.advantages-box .col-lg-3 #fast-performance {
  color: #1480c4;
}
.advantages-box .col-lg-3 #responsive {
  color: #da2c46;
}
.advantages-box .col-lg-3 #seo {
  color: #f31a85;
}
.advantages-box .col-lg-3 #user {
  color: #14d943;
}
@media screen and (max-width: 991px) and (min-width: 576px) {
  .advantages-box .col-lg-3 {
    border-bottom: 1px solid #11b0ae;
  }
}
@media screen and (max-width: 575px) {
  .advantages-box .col-lg-3 {
    border-right: 0;
    border-bottom: 1px solid #11b0ae;
  }
}

.plugins-boxes {
  padding: 14rem 0 7rem;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.plugins-boxes__wrap {
  display: flex;
  align-items: center;
  width: 100%;
}
.plugins-boxes__wrap .plugin-list {
  display: flex;
  width: 50%;
  flex-basis: 50%;
  align-items: center;
  padding: 0 50px;
}
.plugins-boxes__wrap .plugin-list__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  padding: 0 2.5rem;
  width: 25%;
}
.plugins-boxes__wrap .plugin-list__item .plugin__item-box {
  min-height: 22rem;
}
.plugins-boxes__wrap .plugin-list__item .plugin__item-box img {
  width: 10.5rem;
  height: auto;
  margin: 0 auto 2.5rem;
  max-width: 100%;
  display: flex;
}
.plugins-boxes__wrap .plugin-list__item .plugin__item-box .plugin-description {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.plugins-boxes__wrap .plugins__infor {
  max-width: 100%;
  width: 50%;
  flex: 0 0 50%;
  margin-bottom: 7rem;
  margin-left: 2.5rem;
  text-align: left;
}
.plugins-boxes__wrap .plugins__infor .plugin__content {
  font-size: 6rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 3rem;
}
.plugins-boxes__wrap .plugins__infor .plugin__content-color {
  color: #da2c46;
}
.plugins-boxes__wrap .plugins__infor .plugin__subtitle {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1199px) {
  .plugins-boxes__wrap {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .plugins-boxes__wrap .plugin-list {
    order: 2;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
  }
  .plugins-boxes__wrap .plugin-list__item {
    width: 100%;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 4rem;
    flex-direction: row;
  }
  .plugins-boxes__wrap .plugin-list__item .plugin__item-box {
    width: 33.333333%;
    flex-basis: 33.3333333%;
    max-width: 16rem;
    padding: 0 1.5rem;
    min-height: auto;
  }
  .plugins-boxes__wrap .plugins__infor {
    order: 1;
    width: 100%;
    flex-basis: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 0 8rem;
    max-width: 48rem;
  }
  .plugins-boxes__wrap .plugins__infor .plugin__subtitle {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 767px) {
  .plugins-boxes__wrap .plugins__infor .plugin__content {
    font-size: 3.6rem;
  }
}

/*# sourceMappingURL=Pearl.css.map */
