@keyframes Top_Down{
    from{
        transform-origin: top;
        opacity: 0;
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        display: none;
    }
    to{
        transform-origin: top;
        display: block;
        opacity: 1;
        transform: scaleY(1);
        -webkit-transform: scale(1);
    }
}
@keyframes image1{
    from {
        top: -10%;
        opacity: 1
    }

    10%,
    11% {
        top: -30%;
        opacity: 1
    }

    12% {
        top: -30%;
        opacity: 0
    }

    13% {
        top: 120%;
        opacity: 0
    }

    14% {
        top: 110%;
        opacity: 1
    }

    to {
        top: -10%
    }
}

@keyframes image2{
    from {
        top: 50%;
        opacity: 1
    }

    50% {
        top: -20%;
        opacity: 1
    }

    51% {
        top: -30%;
        opacity: 1
    }

    52% {
        top: -30%;
        opacity: 0
    }

    53% {
        top: 120%;
        opacity: 0
    }

    54% {
        top: 110%;
        opacity: 1
    }

    to {
        top: 50%
    }
}
@keyframes image3{
    from {
        top: 23%;
        opacity: 1
    }

    23% {
        top: -30;
        opacity: 1
    }

    24% {
        top: -20%;
        opacity: 1
    }

    25% {
        top: -20%;
        opacity: 0
    }

    26% {
        top: 140%;
        opacity: 0
    }

    27% {
        top: 100%;
        opacity: 1
    }

    to {
        top: 23%
    }
}

@keyframes image4{
    from {
        top: 85%;
        opacity: 1
    }

    85% {
        top: -20%;
        opacity: 1
    }

    86% {
        top: -30%;
        opacity: 1
    }

    87% {
        top: -30%;
        opacity: 0
    }

    88% {
        top: 100%;
        opacity: 0
    }

    89% {
        top: 100%;
        opacity: 1
    }

    to {
        top: 85%
    }
}

@keyframes image5{
    from {
        top: 59%;
        opacity: 1
    }

    59% {
        top: -20%;
        opacity: 1
    }

    60% {
        top: -30%;
        opacity: 1
    }

    61% {
        top: -50%;
        opacity: 0
    }

    62% {
        top: 120%;
        opacity: 0
    }

    63% {
        top: 110%;
        opacity: 1
    }

    to {
        top: 59%
    }
}

@keyframes image6{
    from {
        top: 88%;
        opacity: 1
    }

    88%,
    89% {
        top: -30%;
        opacity: 1
    }

    90% {
        top: -30%;
        opacity: 0
    }

    91% {
        top: 120%;
        opacity: 0
    }

    92% {
        top: 110%;
        opacity: 1
    }

    to {
        top: 88%
    }
}
@keyframes image7{
    from {
        top: 8%;
        opacity: 1
    }

    27%,
    28% {
        top: -30%;
        opacity: 1
    }

    29% {
        top: -30%;
        opacity: 0
    }

    30% {
        top: 120%;
        opacity: 0
    }

    31% {
        top: 110%;
        opacity: 1
    }

    to {
        top: 8%
    }
}
@keyframes image8{
    from {
        top: 35%;
        opacity: 1
    }

    48%,
    49% {
        top: -30%;
        opacity: 1
    }

    50% {
        top: -30%;
        opacity: 0
    }

    51% {
        top: 100%;
        opacity: 0
    }

    52% {
        top: 110%;
        opacity: 1
    }

    to {
        top: 35%
    }
}
@keyframes image9{
    from {
        top: 76%;
        opacity: 1
    }

    68%,
    69% {
        top: -40%;
        opacity: 1
    }

    70% {
        top: -40%;
        opacity: 0
    }

    71% {
        top: 120%;
        opacity: 0
    }

    72% {
        top: 110%;
        opacity: 1
    }

    to {
        top: 76%
    }
}
@keyframes image10{
    from {
        top: 76%;
        opacity: 1
    }

    78%,
    79% {
        top: -30%;
        opacity: 1
    }

    80% {
        top: -30%;
        opacity: 0
    }

    81% {
        top: 120%;
        opacity: 0
    }

    82% {
        top: 110%;
        opacity: 1
    }

    to {
        top: 76%
    }
}
@keyframes image11{
    82%,
    from {
        top: 110%;
        opacity: 1
    }

    78%,
    79% {
        top: -20%;
        opacity: 1
    }

    80% {
        top: -20%;
        opacity: 0
    }

    81% {
        top: 120%;
        opacity: 0
    }

    to {
        top: 100%
    }
}
@keyframes scrollTop {
    50% {
        box-shadow: 0 0 0 5px rgb(0,0,0,.1), 0 0 0 20px rgba(86, 131, 151, 0.3);
    }
}


