@mixin titleItem($valuePosition,$alignText) {
    position: $valuePosition;
    text-align: $alignText;
}
@mixin bgcItem($bgc) {
    background-image:$bgc;
}
@mixin textColor($colorText){
    color:$colorText;
}
@mixin fontweightText($fontweightValue){
    font-weight: $fontweightValue;
}
@mixin fontText($font:'sans-serif'){
    font-family: $font;
}
@mixin textGradient($color) {
    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin front_site($gradient_color){
    background-image: $gradient_color;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin abs__bgc() {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}