$light__red:#da2c46;
$background-linear__nav:linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
$white-item:#fff;
$align-center:center;
@import './_mixin_Fionca';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-items{
    position: relative;
    padding: 0 3rem;
    @include bgcItem(linear-gradient(to top, #bdc2e8 1%, #bdc2e8 1%, #e6dee9 100%));
    box-shadow: 0 0 1.2rem rgba(0,0,0,0.5),0 0 2.4rem rgba(0,0,0,0.3);
    max-height: 25vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    .logo{
        padding: 1.5rem 0;
        position: relative;
        width: 10%;
        &-image{
            display:inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__item{
            line-height: 2rem;
            margin-bottom: 0;
            font-size: 1.2rem;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.5s;
            color: rgba(0,0,0,0.5);
            &:hover{
                text-decoration: none;
                color:$light__red;
            }
        }
    }
    &__button{
        position: relative;
        display: block;
        padding: 12px 2.5rem;
        border:none;
        outline: none;
        background:$light__red;
        font-size: 18px;
        color:$white-item;
        font-weight: 700;
        border-top-right-radius:24px;
        border-bottom-right-radius: 24px;
        border-top-left-radius: 30px;
        overflow: hidden;
        z-index: 2;
        &::before{
            content: '';
            position: absolute;
            right:0;
            left:0;
            bottom: 0;
            top: 0;
            background: #202e45;
            transition: all 0.5s linear;
            transform: translateX(-20%);
            opacity: 0;
            z-index: -1;
        }
        &:hover::before{
            opacity: 1;
            transform: none;
        }
    }
}
.banner__section{
    text-align: $align-center;
    padding: 7rem 6rem;
    font-family:'Poppins','Roboto','sans-serif';
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    &-title{
        transform: translateY(30%);
        font-size: 3.875rem;
        font-weight: 700;
        color:$white-item;
        span{
            color:$light__red;
        }
    }
    @media screen and (max-width: 482px) {
        padding: 3rem 2rem;
        &-title{
            font-size: 2rem;
            text-align: left;
        }
    }
}
.menu-demo{
    padding: 6rem 5rem;
    @include titleItem(relative,center);
    @include bgcItem(linear-gradient(to top, #bdc2e8 1%, #bdc2e8 1%, #e6dee9 100%));
    text-transform: capitalize;
    &__title{
        position: relative;
        color:#454545;
    }
    &__heading{
        @include fontText('Krona One');
        color:#454545;  
        font-size: 2rem;
        font-weight: 500;
        position: relative;
        span{
            color:$light__red;
        }
    }
    &__content{
        font-weight: 500;
        font-size: 18px;
    }
    &__item{
        transition: all 0.5s ease-in-out;
        &__image{
            overflow: hidden;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 35px;
            box-shadow: 0 0 30px rgba(0,0,0,0.8);
            transition: all 500ms ease;
        }
        &__link{
            text-decoration: none;
            display: block;
            width: 100%;
            .image-random{
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;      
            }
        }
        &__content{
            position: relative;
            background: $white-item;
            padding: 1.5rem;
            font-weight: 700;
            font-family: 'Krona One';
            border-radius: 0.8rem;
            cursor: pointer;
            transition: all 0.8s ease-in-out;
            &:after{
                content: '';
                position: absolute;
                display: block;
                bottom: 100%;
                left:50%;
                transform: translateX(-50%);
                border-style: solid;
                border-width: 20px;
                border-top-color:transparent;
                border-left-color: transparent;
                border-right-color:transparent;
                border-bottom-color:$white-item;
            }
        }
        &:hover{
            transform: translateY(-10px);
        }
        &:hover &__content{
            color:$light__red;
        }
    }
}
.feature{
    @include titleItem(relative,center);
    @include bgcItem(linear-gradient(to top, #bdc2e8 100%, #bdc2e8 1%, #e6dee9 1%));
    text-transform: capitalize;
    padding: 0 4rem 4rem 4rem;
    &__title{
        position: relative;
    }
    &__heading{
        @include fontText('Krona One');
        @include textColor(#454545);
        font-size: 2rem;
        @include fontweightText(500);
        span{
            @include textColor($light__red);
        }
    }
    &__list-desc{
        font-weight: 500;
        font-size: 18px;
        @include textColor(rgba(0,0,0,0.5));
    }
    &__item{
        padding: 30px 12px;
        transition: all 0.5s ease-in-out;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5), 0 0 20px rgba(0,0,0,0.5);
        cursor: pointer;
        &__content{
           .brand-logo{
               width: 100%;
           }
           &-heading{
               line-height: 30px;
               font-size: 1.2rem;
               @include fontText('Krona One');
               @include fontweightText(700);
               text-transform: capitalize;
               @include textGradient(linear-gradient(to top, #5ee7df 0%, #b490ca 100%));
           }
           &-desc{
               @include fontweightText(500);
               font-size: 14px;
               line-height: 30px; 
           }
        }
        &__content-image{
            max-width: 40%;
            object-fit: cover;
        }
    }
}
.footer{
    padding: 16rem 0;
    @include titleItem(relative,center);
    background-image:url(./business-people-office.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__box-content{
        color:$white-item;
        margin: 0 auto;
        width: 35%;
        z-index: 2;
        &__title{
            @include fontText('Yeseva One');
            line-height: 3rem;
            span{
                color:$light__red;
            }
        }
        &__button{
            display: block;
            position: relative;
            outline: none;
            padding: 12px 3.5rem;
            border-radius: 0.8rem;
            font-size: 1.2rem;
            font-weight: 700;
            overflow: hidden;
            z-index: 2;
            transition: all 0.5s linear;
            @include textColor($light__red);
            &::before{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: $light__red;
                transition: all 0.5s ease-in-out;
                transform: translateX(-20%);
                opacity: 0;
                z-index: -1;
            }
            &:hover::before{
                transform: none;
                opacity: 1;
            }
            &:hover{
                color: $white-item;
            }

        }
    }
    &__bgc{
        @include abs__bgc();
    }
}
.button__scroll-top{
    position: fixed;
    bottom: 1.5rem;
    right: 1.125rem;
    background: $white-item;
    color:#000;
    outline: none;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all 0.5s linear;
    animation: pulse 2s linear infinite;
    i{
        &:after{
            position: absolute;
            z-index: -1;
            content: '';
            top: 100%;
            left: 5%;
            height: 10px;
            width: 90%;
            opacity: 1;
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
        }
    }
    &:before{
        position: absolute;
        content: '';
    }
    &:hover{
        background:$light__red;
        color:$white-item;
    }
}