html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-items {
  position: relative;
  padding: 0 3rem;
  background-image: linear-gradient(to top, #bdc2e8 1%, #bdc2e8 1%, #e6dee9 100%);
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.5), 0 0 2.4rem rgba(0, 0, 0, 0.3);
  max-height: 25vh;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-items .logo {
  padding: 1.5rem 0;
  position: relative;
  width: 10%;
}
.nav-items .logo-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 575px) {
  .nav-items .logo {
    display: none;
  }
}
.nav-items__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav-items__menu__item {
  font-family: "Krona One";
  line-height: 2rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
  color: rgba(0, 0, 0, 0.5);
}
.nav-items__menu__item:hover {
  text-decoration: none;
  color: #da2c46;
}
.nav-items__button {
  position: relative;
  display: block;
  padding: 12px 2.5rem;
  border: none;
  outline: none;
  background: #da2c46;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 30px;
  overflow: hidden;
  z-index: 2;
}
.nav-items__button::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: #202e45;
  transition: all 0.5s linear;
  transform: translateX(-20%);
  opacity: 0;
  z-index: -1;
}
.nav-items__button:hover::before {
  opacity: 1;
  transform: none;
}
@media screen and (max-width: 575px) {
  .nav-items__button {
    font-size: 1rem;
    padding: 1rem 2.5rem;
  }
}

.banner__section {
  text-align: center;
  padding: 7rem 6rem;
  font-family: "Poppins", "Roboto", "sans-serif";
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.banner__section-title {
  transform: translateY(30%);
  font-size: 3.875rem;
  font-weight: 700;
  color: #fff;
}
.banner__section-title span {
  color: #da2c46;
}
@media screen and (max-width: 482px) {
  .banner__section {
    padding: 3rem 2rem;
  }
  .banner__section-title {
    font-size: 2rem;
    text-align: left;
  }
}

.card-flip {
  min-height: 80vh;
}

.menu-demo {
  padding: 6rem 5rem;
  position: relative;
  text-align: center;
  background-image: linear-gradient(to top, #bdc2e8 1%, #bdc2e8 1%, #e6dee9 100%);
  text-transform: capitalize;
}
.menu-demo__title {
  position: relative;
  color: #454545;
}
.menu-demo__heading {
  font-family: "Krona One";
  color: #454545;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
}
.menu-demo__heading span {
  color: #da2c46;
}
.menu-demo__content {
  font-weight: 500;
  font-size: 18px;
}
.menu-demo .animation_flip {
  cursor: pointer;
}
.menu-demo .flipped {
  transform: rotateY(180deg);
}
.menu-demo__list__items .card-flip:nth-of-type(1) .card-front {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-demo__list__items .card-flip:nth-of-type(1) .card-front-text {
  background: linear-gradient(to right, #e53935, #e35d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Staatliches";
}
.menu-demo__list__items .card-flip:nth-of-type(2) .card-front {
  background-image: linear-gradient(to right, #232526, #414345);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-demo__list__items .card-flip:nth-of-type(2) .card-front-text {
  background: linear-gradient(to right, #e53935, #e35d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Staatliches";
}
.menu-demo__list__items .card-flip:nth-of-type(3) .card-front {
  background-image: linear-gradient(to right, #dae2f8, #d6a4a4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-demo__list__items .card-flip:nth-of-type(3) .card-front-text {
  background: linear-gradient(to right, #e53935, #e35d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Staatliches";
}
.menu-demo__list__items .card-flip:nth-of-type(4) .card-front {
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-demo__list__items .card-flip:nth-of-type(4) .card-front-text {
  background: linear-gradient(to right, #e53935, #e35d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Staatliches";
}
.menu-demo__list__items .card-flip:nth-of-type(5) .card-front {
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-demo__list__items .card-flip:nth-of-type(5) .card-front-text {
  background: linear-gradient(to right, #e53935, #e35d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Staatliches";
}
.menu-demo__list__items .card-flip:nth-of-type(6) .card-front {
  background-image: linear-gradient(to right, #e55d87, #5fc3e4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-demo__list__items .card-flip:nth-of-type(6) .card-front-text {
  background: linear-gradient(to right, #e53935, #e35d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Staatliches";
}
.menu-demo__list__items .card-flip:nth-of-type(7) .card-front {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-demo__list__items .card-flip:nth-of-type(7) .card-front-text {
  background: linear-gradient(to right, #e53935, #e35d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Staatliches";
}
.menu-demo__list__items .card-flip:nth-of-type(8) .card-front {
  background-image: linear-gradient(to top, #eef2f3 0%, #9b23ea 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-demo__list__items .card-flip:nth-of-type(8) .card-front-text {
  background: linear-gradient(to right, #e53935, #e35d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Staatliches";
}
.menu-demo__list__items .card-flip:nth-of-type(9) .card-front {
  background-image: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-demo__list__items .card-flip:nth-of-type(9) .card-front-text {
  background: linear-gradient(to right, #e53935, #e35d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Staatliches";
}
.menu-demo__item {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
}
.menu-demo__item .card-front, .menu-demo__item .card-back {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
  overflow: hidden;
}
.menu-demo__item .card-front-text {
  color: #fff;
  font-size: 2rem;
}
.menu-demo__item .card-back {
  transform: rotateY(180deg);
}
.menu-demo__item__image {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  transition: all 500ms ease;
}
.menu-demo__item__link {
  width: 100%;
}
.menu-demo__item__link .image-random {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.menu-demo__item:hover {
  transform: translateY(-10px);
}
.menu-demo__item:hover .menu-demo__item__content {
  color: #da2c46;
}
.menu-demo__item.flipped {
  transform: rotateY(180deg);
}

.feature {
  position: relative;
  text-align: center;
  background-image: linear-gradient(to top, #bdc2e8 100%, #bdc2e8 1%, #e6dee9 1%);
  text-transform: capitalize;
  padding: 0 4rem 4rem 4rem;
}
.feature__title {
  position: relative;
}
.feature__heading {
  font-family: "Krona One";
  color: #454545;
  font-size: 2rem;
  font-weight: 500;
}
.feature__heading span {
  color: #da2c46;
}
.feature__list-desc {
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.feature__item {
  padding: 30px 12px;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.feature__item__content .brand-logo {
  height: 100%;
  width: 100%;
}
.feature__item__content-heading {
  line-height: 30px;
  font-size: 1.2rem;
  font-family: "Krona One";
  font-weight: 700;
  text-transform: capitalize;
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature__item__content-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
}
.feature__item__content-image {
  max-width: 40%;
  object-fit: cover;
}

.footer {
  padding: 16rem 0;
  position: relative;
  text-align: center;
  background-image: url(./business-people-office.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer__box-content {
  color: #fff;
  margin: 0 auto;
  z-index: 2;
}
.footer__box-content__title {
  font-family: "Yeseva One";
  line-height: 3rem;
}
.footer__box-content__title span {
  color: #da2c46;
}
.footer__box-content__button {
  display: inline-block;
  position: relative;
  outline: none;
  padding: 12px 3.5rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  overflow: hidden;
  z-index: 2;
  transition: all 0.5s linear;
  color: #da2c46;
}
.footer__box-content__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #da2c46;
  transition: all 0.5s ease-in-out;
  transform: translateX(-20%);
  opacity: 0;
  z-index: -1;
}
.footer__box-content__button:hover::before {
  transform: none;
  opacity: 1;
}
.footer__box-content__button:hover {
  color: #fff;
}
.footer__bgc {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.button__scroll-top {
  position: fixed;
  right: 1.125rem;
  bottom: 100%;
  background: #fff;
  color: #000;
  outline: none;
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  animation: pulse 2s linear infinite;
}
.button__scroll-top i:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
.button__scroll-top:before {
  position: absolute;
  content: "";
}
.button__scroll-top:hover {
  background: #da2c46;
  color: #fff;
}

.scroll_toTop {
  bottom: 5% !important;
  transition: all 1s linear;
}

/*# sourceMappingURL=Fionca.css.map */
