$light__red:#da2c46;
$background-linear__nav:linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
$white-item:#fff;
$align-center:center;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-items{
    position: relative;
    padding: 0 3rem;
    background-image: $background-linear__nav;
    max-height: 25vh;
    .logo{
        padding: 1.5rem 0;
        position: relative;
        width: 10%;
        &-image{
            display:inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__item{
            line-height: 2rem;
            margin-bottom: 0;
            font-size: 1.2rem;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.5s;
            color: rgba(0,0,0,0.5);
            &:hover{
                text-decoration: none;
                color:$light__red;
            }
        }
    }
    &__button{
        position: relative;
        display: block;
        padding: 12px 2.5rem;
        border:none;
        outline: none;
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        font-size: 18px;
        color:$white-item;
        font-weight: 700;
        border-top-right-radius:24px;
        border-bottom-right-radius: 24px;
        border-top-left-radius: 30px;
        overflow: hidden;
        z-index: 2;
        &::before{
            content: '';
            position: absolute;
            right:0;
            left:0;
            bottom: 0;
            top: 0;
            background: #202e45;
            transition: all 0.5s linear;
            transform: translateX(-20%);
            opacity: 0;
            z-index: -1;
        }
        &:hover::before{
            opacity: 1;
            transform: none;
        }
    }
}
.banner__section{
    text-align: $align-center;
    padding: 7rem 6rem;
    font-family:'Poppins','Roboto','sans-serif';
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    &-title{
        font-size: 3.875rem;
        font-weight: 700;
        color:$white-item;
        span{
            color:$light__red;
        }
    }
    @media screen and (max-width: 482px) {
        padding: 3rem 2rem;
        &-title{
            font-size: 2rem;
            text-align: left;
        }
    }
}
.menu-demo{
    padding: 6rem 5rem;
    text-align: $align-center;
    position: relative;
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
    text-transform: capitalize;
    &__title{
        position: relative;
        color:#454545;
    }
    &__heading{
        font-family: 'Krona One', sans-serif;
        color:#454545;
        font-size: 2rem;
        font-weight: 500;
        position: relative;
        span{
            color:$light__red;
        }
    }
    &__content{
        font-weight: 500;
        font-size: 18px;
        word-break: break-all;
    }
    &__item{
        transition: all 0.5s ease-in-out;
        &__image{
            overflow: hidden;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 35px;
            box-shadow: 0 0 30px rgba(0,0,0,0.8);
            transition: all 500ms ease;
        }
        &__link{
            text-decoration: none;
            display: block;
            width: 100%;
            .image-random{
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }
        &__content{
            position: relative;
            background: $white-item;
            padding: 1.5rem;
            font-weight: 700;
            font-family: 'Krona One';
            border-radius: 0.8rem;
            cursor: pointer;
            transition: all 0.8s ease-in-out;
            &:after{
                content: '';
                position: absolute;
                display: block;
                bottom: 100%;
                left:50%;
                transform: translateX(-50%);
                border-style: solid;
                border-width: 20px;
                border-top-color:transparent;
                border-left-color: transparent;
                border-right-color:transparent;
                border-bottom-color:$white-item;
            }
        }
        &:hover{
            transform: translateY(-10px);
        }
        &:hover &__content{
            color:$light__red;
        }
    }
}